<script type="text/javascript">

  $(function(){
      $(".collection-delete").click(function() {
            $("#loading").show();
            var id = $(this).attr('id');
            $.ajax({
                type: "delete",
                dataType: "html",
                url: "/users/<%= current_user.id %>/collections/" + id.split("-")[1],
                beforeSend: function(XMLHttpRequest) {
                    this; //调用本次ajax请求时传递的options参数
                },
                success: function(data) {
                    $("#loading").hide();
                    console.log("success");
                    console.log(data);
                    //flash(data);
                    //$("#"+id).parent().parent().parent().parent().remove();
                    //location.href = "<%= user_collections_path(current_user) %>"
                    $(".collection-box").html(data);
                    flash("<%= t('flash.notices.collection_removed') %>");
                    $("#loading").hide();
                }, 
                error: function(data) {
                  console.log("error");
                  console.log(data);
                  $("#loading").hide();
                  flash(data.responseText);
                }
            });
      });
  })
  
</script>

 <div class="collection-gathering-title">
    <h4>
      <%= t('favorites.my_collections') %>
    </h4>
  </div>

  <div class="collection-gathering-info">

    <div class="collection-prompt">
      <dl>
        <dt><%= t('nav.inform') %>:</dt>
          <% 
            @total_publishes = my_collections()
            total_count = @total_publishes.count
            if total_count == 0
             %>
                <dd><span style="color:#999"><%= t('favorites.no_collections') %></span></dd>
             <% else %>
                <dd><a href="#"><%= t('favorites.collection_total') %>(<%= total_count %>)</a></dd>

              <!-- has publishes -->
              <% @categories = PublishCategory.all 
                 @categories.each do |category|
              %>

                  <% 
                    count = @total_publishes.where(:publish_category => category).count
                    if count != 0
                  %>  

                    <dd><a href="#"><%= category.description %><%= t('favorites.collection_quantity') %>(<%= count %>)</a></dd>

                  <% end %> <!-- end if -->

                  <% end %><!-- end category -->

              <% end %><!-- end if end -->
   

      </dl>
    </div>      
</div> <!-- publish-gather-info -->

<!--       <div class="spinner product-buysetp-loaddelete" id="loading_delete">
      <div class="bounce1">
      </div>
      <div class="bounce2">
      </div>
      <div class="bounce3">
      </div>
      正在删除
  </div> -->
<div class="quick-op">
      <form class="form-inline" role="form" id="filter-form" method="get" action="<%= user_collections_path(current_user.id) %>">
        <div class="form-group">
            <label for="inputEmail3" class=" control-label">
              <%= t('publish.select_publish_category') %>：
            </label>
            <select name="publish_category" id="publish_publish_category">
              <option value="all">
                <%= t('publish.all') %>
              </option>

              <% PublishCategory.all.each do |category| %>
                
                <option value="<%= category.name %>"><%= category.description %></option>

              <% end %>  

            </select>
        </div>
        <!-- <div class="checkbox">
          <label>
            <input type="checkbox" name="sell" value="1" id="publish_sell">
            <= t('publish.only_show_with_sells') %>
          </label>
        </div> -->
      </form>
  </div>
<div class="collection-list">
  <div id="loading"><%= image_tag "loading.gif", style: "margin-right: 10px" %><%= t('progress.deleting') %></div>
  <div class="row">

    <% @publishes.each do |publish| %>    
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail" style="height:340px">
        <%= image_tag publish.publish_image.url(:medium), style: "max-height:180px"%>
        <div class="works-info caption">
          <p class="itemtitle"> 『<%= publish.name %>』</p>
          <p class="describe"><%= publish.description %></p>
          <p>
            <a href="<%= user_publish_path(@user.id, publish) %>" class="collection-hide btn btn-default" role="button" id="hide-<%= publish.id %>"><%= t('publish.view') %></a>
            <a  class="collection-delete btn btn-danger" role="button" id="del-<%= relative_collection(publish).id %>"><%= t('nav.delete') %></a>       
          </p>
        </div>
      </div>
    </div>

    <% end %>

  </div><!-- row -->

</div><!-- collection-list -->    



