<!-- <!DOCTYPE html>
<html>
<head>
<title>So-Zo</title>
<link rel="stylesheet" type="text/css" href="../assets/style.css" />
<link rel="stylesheet" type="text/css" href="../assets/meny.css" />
<link rel="stylesheet" type="text/css" href="../assets/bootstrap.min.css" />
</head> -->
<%= stylesheet_link_tag "devise" %>
<script type="text/javascript"> 
<!-- this would only work at chrome & firefox-->
$(function() {
    $("input[type='file").change(function(evt) {
      var images = evt.target.files;
      for(var i=0, f; f=images[i]; i++) {
        if(!f.type.match('image.*')) {
          continue;
        }
        var reader = new FileReader();
        reader.onload = (function(file) {
          return function(e) {
            $(".user-img img").attr("src", e.target.result);
          }
        })(f);
        reader.readAsDataURL(f);
      }
    });
  })
</script> 
<body id="top">
  <div class="contents">
    <%= render "home/nav" %>
      <div style="height:76px">
      </div>
      <div class="container">
        <div style="height:50px">
        </div>
        <%= render "sider" %>
          <div class="r-box">
            <!-- <form action=""> -->
            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
            <%= devise_error_messages! %>

                <div class="user-img">
                  <!-- <img src="../assets/demopage/image-11.jpg" /> -->
                  <%= image_tag current_user.photo.url(:medium), :width=>"192px", :height=>"197px" %>
                  <p style="text-align:center;">
                    <button type="button" class="btn default btn-mini buynow" style="width:80px; font-size:12px;position:relative;cursor:pointer">
                      更改头像<%= f.file_field :photo, :style => "width:80px;height:30px;position:absolute;left:0;top:0;opacity:0;cursor:inherit" %>
                    </button>
                  </p>
                </div>
                <div class="form-con">

                  <div><%= f.label :email %>
                  <%= f.email_field :email, :autofocus => true %></div><br />

                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div><br />
                  <% end %>

                  <div><%= f.label :password do %>新密码<% end %>
                   <%= f.password_field :password, :autocomplete => "off" %>
                 </div><br />

                  <!-- <i>
                    (leave blank if you don't want to change it)
                  </i> -->

                  <div><%= f.label :password_confirmation do %>确认密码<% end %>
                   <%= f.password_field :password_confirmation %>
                 </div><br />

                  <div><%= f.label :current_password do %>原密码<% end %><!--  <i>(we need your current password to confirm your changes)</i> 下来可以做tooltip-->
                    <%= f.password_field :current_password %>
                  </div><br />
                  
                  <div>
                      <%= f.label :name do %>姓名<% end %>
                      <%= f.text_field :name %>
                  </div> <br />
   
                  <div>
                      <%= f.label :sex do %>性别<% end %>
                      <%= f.select(:sex, [['女', 'female'], ['男','male']]) %>
                  </div><br />

                  <div>
                      <%= f.label :motto do %>格言<% end %>
                      <%= f.text_area :motto %>
                  </div><br />

                  <div>
                    <%= f.label :occupation_id do %>职业<% end %>
                    <%= f.select(:occupation_id, [['学生',1],['作者',2],['画家',3],['白领',4]]) %>
                  </div><br />

                    <p>
                      标签
                    </p>
                    <div class="label-box" style="padding-top:0; position:relative; top:-10px;">
                      <a href="###" class="btn btn-success btn-mini">
                        萌
                      </a>
                      <a href="###" class="btn btn-success btn-mini">
                        可爱
                      </a>
                      <a href="###" class="btn btn-success btn-mini">
                        赛高
                      </a>
                    </div>

                    <fieldset>
                      <legend>联系信息</legend>
                      <div>
                        <%= f.label :phone do %>电话<% end %>
                        <%= f.text_field :phone %>
                      </div><br />

                      <div>
                        <%= f.label :address do %>地址<% end %>
                        <%= f.text_area :address %>
                      </div><br />
                    </fieldset>

                  <!-- 使用Option Tags from a Collection of Arbitrary Objects来自动生成options -->

                    <div>
                      <%= f.submit "更新", class: "btn btn-danger btn-lg update"%>
                    </div>
                  <% end %>
                    <!-- </form> -->
            </div>
            <!--form-con end-->
           <!--  <h3>
              Cancel my account
            </h3>
            <p>
              Unhappy?
              <%= button_to "Cancel my account", registration_path(resource_name), :data=>
                { :confirm => "Are you sure?" }, :method => :delete %>
            </p>
            <%= link_to "Back", :back %> -->
          </div>
          <div id="buystep" style=" clear:both;width:1140; overflow:hidden; margin:0 0 0 -15px;">
            <h1 class="title2">
              <span>
                可选形式
              </span>
            </h1>
            <ul class="works-list works-list2 works-list3">
              <li>
                <a href="###">
                  <img src="../assets/demopage/image-10.jpg" />
                </a>
              </li>
              <li>
                <a href="###">
                  <img src="../assets/demopage/image-9.jpg" />
                </a>
              </li>
              <li>
                <a href="###">
                  <img src="../assets/demopage/image-10.jpg" />
                </a>
              </li>
              <li>
                <a href="###">
                  <img src="../assets/demopage/image-9.jpg" />
                </a>
              </li>
              <li>
                <a href="###">
                  <img src="../assets/demopage/image-10.jpg" />
                </a>
              </li>
              <li>
                <a href="###">
                  <img src="../assets/demopage/image-9.jpg" />
                </a>
              </li>
              <li>
                <a href="###">
                  <img src="../assets/demopage/image-9.jpg" />
                </a>
              </li>
              <li>
                <a href="###">
                  <img src="../assets/demopage/image-10.jpg" />
                </a>
              </li>
              <li>
                <a href="###">
                  <img src="../assets/demopage/image-9.jpg" />
                </a>
              </li>
              <li>
                <a href="###">
                  <img src="../assets/demopage/image-9.jpg" />
                </a>
              </li>
            </ul>
          </div>
      </div>
      <!-- container -->
      <div style="height:200px">
      </div>
      <div class="clear">
      </div>
      <div class="container">
        <div id="grayfooter">
          <div class="row">
            <div class="col-lg-5">
              <div style="margin:25px auto auto 70px;">
                <p id="categorytitle">
                  カテゴリから探す
                </p>
                <div class="categorylist">
                  <ul>
                    <li>
                      <a href="#">
                        アート
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        あいうおえ
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        プロダクト
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        ジャーナリズム
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        写真
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="categorylist">
                  <ul>
                    <li>
                      <a href="#">
                        アート
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        あいうおえ
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        プロダクト
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        ジャーナリズム
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        写真
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="categorylist">
                  <ul>
                    <li>
                      <a href="#">
                        アート
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        あいうおえ
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        プロダクト
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        ジャーナリズム
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        写真
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="clear">
                </div>
              </div>
            </div>
            <!-- col5 -->
          </div>
          <!-- row -->
        </div>
        <!-- grayfooter -->
        <div id="bottomfooter">
          <a href="#">
            取引～～～～～
          </a>
          <a href="#">
            ああああああ
          </a>
          <a href="#">
            いうえおうおえ
          </a>
          <a href="#">
            かきここかけ
          </a>
          <a href="#">
            プライバシーポリシー
          </a>
          <a href="#">
            お問合わせ
          </a>
          <div style="float:left;">
            D＆SIY
          </div>
          <div class="clear">
          </div>
        </div>
        <!-- bottomfooter -->
      </div>
      <!-- container -->
  </div>
  <!-- contents -->
</body>

</html>