<body id="top">
  <div class="contents">
    <%= render "home/nav" %>
      <div class="container">
        <div style="height:50px">
        </div>
        <div id="sidernav" style="padding-top:0;">
          <ul class="sider2">
            <li>
              <a href="###" class="nav-a">
                个人情报
              </a>
            </li>
            <li>
              <a href="###" class="nav-b">
                作 品
              </a>
            </li>
            <li>
              <a href="###" class="nav-c">
                购 入
              </a>
            </li>
            <li>
              <a href="###" class="nav-d">
                设 定
              </a>
            </li>
          </ul>
        </div>
        <!--sidernav end-->
        <div class="r-box">
          <div class="user-img">
            <img src="../assets/demopage/image-11.jpg" />
            <p style="text-align:center;">
              <button type="button" class="btn default btn-mini buynow" style="width:80px; font-size:12px;">
                更改头像
              </button>
            </p>
          </div>
          <div class="form-con">
            <!-- <form action=""> -->
            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

<div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true, class: "txt" %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Update" %></div>

              <p>
                <label for="">
                  名前
                </label>
                <input type="text" class="txt" value="" />
              </p>
              <p>
                <label for="">
                  I D
                </label>
                <input type="text" class="txt" value="" />
              </p>
              <p>
                <label for="">
                  一言
                </label>
                <input type="text" class="txt txt2" value="" />
              </p>
              <p>
                SNS
              </p>
              <p>
                <label for="">
                  <img src="../assets/fn.png" />
                </label>
                <input type="text" class="txt" value="" />
              </p>
              <p>
                <label for="">
                  <img src="../assets/fn2.png" />
                </label>
                <input type="text" class="txt" value="" />
              </p>
              <p>
                <label for="">
                  <img src="../assets/fn3.png" />
                </label>
                <input type="text" class="txt" value="" />
              </p>
              <p>
                <label for="">
                  职业
                </label>
                <select name="" class="txt" style="border:1px solid #eee; padding:6px 10px; width:120px; border-radius:4px;">
                  <option>
                    学生
                  </option>
                </select>
              </p>
              <p>
                标签
              </p>
              <div class="label-box" style="padding-top:0; position:relative; top:-10px;">
                <a href="###" class="btn btn-success btn-mini">
                  萌
                </a>
                <a href="###" class="btn btn-success btn-mini">
                  可爱
                </a>
                <a href="###" class="btn btn-success btn-mini">
                  赛高
                </a>
              </div>
              <p>
                <button type="button" class="btn btn-danger btn-lg buynow" style="width:128px; font-size:12px; margin-left:0; ">
                  保存资料
                </button>
              </p>
              <% end %>
            <!-- </form> -->
          </div>
          <!--form-con end-->

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

<%= link_to "Back", :back %>

        </div>
        <div id="buystep" style=" clear:both;width:1140; overflow:hidden; margin:0 0 0 -15px;">
          <h1 class="title2">
            <span>
              可选形式
            </span>
          </h1>
          <ul class="works-list works-list2 works-list3">
            <li>
              <a href="###">
                <img src="../assets/demopage/image-10.jpg" />
              </a>
            </li>
            <li>
              <a href="###">
                <img src="../assets/demopage/image-9.jpg" />
              </a>
            </li>
            <li>
              <a href="###">
                <img src="../assets/demopage/image-10.jpg" />
              </a>
            </li>
            <li>
              <a href="###">
                <img src="../assets/demopage/image-9.jpg" />
              </a>
            </li>
            <li>
              <a href="###">
                <img src="../assets/demopage/image-10.jpg" />
              </a>
            </li>
            <li>
              <a href="###">
                <img src="../assets/demopage/image-9.jpg" />
              </a>
            </li>
            <li>
              <a href="###">
                <img src="../assets/demopage/image-9.jpg" />
              </a>
            </li>
            <li>
              <a href="###">
                <img src="../assets/demopage/image-10.jpg" />
              </a>
            </li>
            <li>
              <a href="###">
                <img src="../assets/demopage/image-9.jpg" />
              </a>
            </li>
            <li>
              <a href="###">
                <img src="../assets/demopage/image-9.jpg" />
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- container -->
      <div style="height:200px">
      </div>
      <div class="clear">
      </div>
      <div class="container">
        <div id="grayfooter">
          <div class="row">
            <div class="col-lg-5">
              <div style="margin:25px auto auto 70px;">
                <p id="categorytitle">
                  カテゴリから探す
                </p>
                <div class="categorylist">
                  <ul>
                    <li>
                      <a href="#">
                        アート
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        あいうおえ
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        プロダクト
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        ジャーナリズム
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        写真
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="categorylist">
                  <ul>
                    <li>
                      <a href="#">
                        アート
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        あいうおえ
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        プロダクト
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        ジャーナリズム
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        写真
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="categorylist">
                  <ul>
                    <li>
                      <a href="#">
                        アート
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        あいうおえ
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        プロダクト
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        ジャーナリズム
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        写真
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="clear">
                </div>
              </div>
            </div>
            <!-- col5 -->
          </div>
          <!-- row -->
        </div>
        <!-- grayfooter -->
        <div id="bottomfooter">
          <a href="#">
            取引～～～～～
          </a>
          <a href="#">
            ああああああ
          </a>
          <a href="#">
            いうえおうおえ
          </a>
          <a href="#">
            かきここかけ
          </a>
          <a href="#">
            プライバシーポリシー
          </a>
          <a href="#">
            お問合わせ
          </a>
          <div style="float:left;">
            D＆SIY
          </div>
          <div class="clear">
          </div>
        </div>
        <!-- bottomfooter -->
      </div>
      <!-- container -->
  </div>
  <!-- contents -->
</body>