<script type="text/javascript">
  
  $(function() {
    $("#nav").css("background-image", 'none');
    $("#loading").hide();

    $("input[type='file").change(function(evt) {
      
      var images = evt.target.files;
      for(var i=0, f; f=images[i]; i++) {
        if(!f.type.match('image.*')) {
          continue;
        }
        var reader = new FileReader();
        reader.onload = (function(file) {
          return function(e) {
            $(".user-img img").attr("src", e.target.result);
          }
        })(f);
        reader.readAsDataURL(f);
      }
    });


     // jquery validate
    $("#new_user").validate({
        rules: {
            "user[name]": {
                required: true
            },
            "user[description]": {
                required: true
            },
            "user[email]": {
                required: true,
                email: true
            },
            "user[password]": {
              required: true,
              minlength: 3
            },
            "user[password_confirmation]": {
              required: true,
              minlength: 3,
              equalTo: "#user_password"
            },
            "user[sex]": {
              required: true
            },
            "user[occupation_id]": {
              required:true
            },
            "user[photo]": {
              required: true
            }
        },

        messages: {
          "user[photo]" : "<%= t('devise.failure.upload_photo') %>",
          "user[occupation_id]": "<%= t('devise.failure.select_occupation') %>",
          "user[sex]": "<%= t('devise.failure.select_sex') %>",
          "user[email]": {
            required: "<%= t('devise.failure.input_email') %>",
            email: "<%= t('devise.failure.input_valid_email') %>"
          },
          "user[password]": "<%= t('devise.failure.input_password') %>",
          "user[password_confirmation]": {
            equalTo:  "<%= t('devise.failure.confirm_password') %>",
            required: "<%= t('devise.failure.input_password') %>"
          },
          "user[description]": "<%= t('devise.failure.input_description') %>",
          "user[name]": "<%= t('devise.failure.input_name') %>",
        },

        highlight: function(element) {
            $(element).closest(".form-group").addClass('has-error');
        },
        unhighlight: function(element) {
            $(element).closest('.form-group').removeClass('has-error');
        },


        errorElement: 'span',
        errorClass: 'help-block',
        errorPlacement: function(error, element) {
            if(element.parent('.input-group').length) {
                error.appendTo(element.parent());
            } else {
                error.appendTo(element.parent());
            }
        },
        submitHandler: function(form) {
            //jQuery(form).ajaxSubmit(options);
            form.submit();
            $("#loading").show();
        }
    });

  });

</script>

<style type="text/css">

  .contents {
      background-color: lightpink;
  }

  input[type='submit'] {
    height: 40px;
  }

  input[type='file'] {
    width:120px;
    height:40px;
    border:solid transparent;
    position:absolute;
    left:60px;
    top:20px;
    opacity:0;
    filter:alpha(opacity=0);
    cursor:pointer
  }

  .input-group {
    display: -webkit-box
  }

  .input-group span {
    margin-left: 15px;
  }

  .form-group button {
    height: 40px;
    margin-left: 10px;
  }

  .btn-upload-photo {
    width:120px; 
    font-size:12px;
    position:absolute;
    left:30px;
  }

  #user_photo + span {
    position: absolute;
    top: 80px;
    left: 38px;
  }

  h4, li {
    max-width: 250px;
  }

</style>

<body id="top">
  <div class="contents">
    <%= render "home/nav3" %>
      <div style="height:76px">
      </div>
      <div class="container">
        <div style="height:50px">
        </div>
         <div id="loading" class="text-center"><%= image_tag "loading.gif", style: "margin-right: 10px" %><%= t('progress.processing') %></div>
          <div class="r-box registration-box">
            <!-- <form action=""> -->
            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>
                <div class="user-img">
                  <%= image_tag "question_mark.jpg", width: "200px", class: "img-rounded" %>
                  <div class="form-group" style="text-align:center;position:relative;">
                    <button type="button" class="btn default btn-upload-photo">
                      <%= t('devise.links.upload_photo') %>
                    </button>
                    <div class="input-group">
                      <%= f.file_field :photo, accept: "image/png, image/jpeg" %>
                    </div>
                  </div>
                </div>
                <div class="form-con">

                  <div class="form-group">
                    <%= f.label :email do %> <%= User.human_attribute_name('email') %>: <% end %>
                    <div class="input-group">
                      <%= f.email_field :email, :autofocus => true, placeholder: t('devise.placeholders.required'), class: "form-control"  %>
                    </div>  
                 </div>

                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <div class="form-group">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div><br />
                  <% end %>

                  <div class="form-group"><%= f.label :password do %><%= User.human_attribute_name('password') %>: <% end %>
                    <div class="input-group">
                      <%= f.password_field :password, :autocomplete => "off", placeholder: t('devise.placeholders.required'), class: "form-control"    %>
                  </div>
                 </div>

                  <!-- <i>
                    (leave blank if you don't want to change it)
                  </i> -->

                  <div class="form-group"><%= f.label :password_confirmation do %><%= User.human_attribute_name('password_confirmation') %>: <% end %>
                   <div class="input-group">
                      <%= f.password_field :password_confirmation, placeholder: t('devise.placeholders.required'), class: "form-control"  %>
                  </div>
                 </div>

                  <div class="form-group">
                      <%= f.label :name do %><%= User.human_attribute_name('name') %>: <% end %>
                      <div class="input-group">
                      <%= f.text_field :name, placeholder: t('devise.placeholders.required'), class: "form-control"    %>
                    </div>
                  </div>
   
                  <div class="form-group">
                      <%= f.label :sex do %><%= User.human_attribute_name('sex') %>: <% end %>
                      <div class="input-group">
                      <%= f.select(:sex, [['女', 'female'], ['男','male']], {include_blank: true})%>
                    </div>
                  </div>

                  <div class="form-group">
                      <%= f.label :description do %><%= User.human_attribute_name('description') %>: <% end %>
                     <div class="input-group"> 
                      <%= f.text_area :description, placeholder: t('devise.placeholders.required'), rows: "10", class: "form-control" %>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :occupation_id do %><%= User.human_attribute_name('occupation') %>: <% end %>
                    <!-- f.select(:occupation_id, [['学生',1],['作者',2],['画家',3],['白领',4]]) -->
                    <div class="input-group"> 
                    <%= f.select(:occupation_id, Occupation.all.collect{|o|[o.name, o.id]}, {include_blank: true}) %>
                  </div>
                  </div>

                    <fieldset>
                      <legend> <%= t('order.contact') %> </legend>
                      <div class="form-group">
                        <%= f.label :phone do %> <%= User.human_attribute_name('phone') %>: <% end %>
                        <div class="input-group"> 
                        <%= f.text_field :phone, class: "form-control", placeholder: t('devise.placeholders.not_required')   %>
                      </div>
                      </div>

                      <div class="form-group">
                        <%= f.label :address do %> <%= User.human_attribute_name('address') %>: <% end %>
                        <div class="input-group">
                        <%= f.text_area :address, class: "form-control", placeholder: t('devise.placeholders.not_required'), rows: "10" %>
                      </div>
                      </div>
                    </fieldset>

                  <!-- 使用Option Tags from a Collection of Arbitrary Objects来自动生成options -->

                    <div class="form-group">
                      <%= button_tag t('devise.links.reset'), type: :reset, class: "btn btn-warning btn-lg button-flat-highlight" %>
                      <%= f.submit t('devise.links.sign_up_btn'), class: "btn btn-success btn-lg button-flat-action", style: "margin-left: 20px" %>
                    </div>

                  <% end %><!-- </form> -->
                </div><!--form-con end-->

                <div class="reg-instruction">
                  <!-- <h4><span class="glyphicon glyphicon-link"></span> <= t('devise.label.3rd_login_notice') %></h4>
                  <ul> -->
                    <li><div class="omniauth">
                      <a class="btn btn-primary button-flat-primary omniauth-provider" href="/users/auth/facebook?locale=zh-CN"> 
                         <i class="fa fa-facebook fa-large left"></i>Facebook<%= t('devise.links.3rd_login') %>
                         <%= fa_icon "caret-right large", class: "right" %>
                        </a>
                    </div></li>
                  </ul>
                  <div style="height:20px">
                  </div>
                   <h4><span class="glyphicon glyphicon-check"></span> <%= t('devise.label.registration_notice') %>: </h4>
                  <ul>
                    <li><%= t('devise.label.please_read_part1') %><%= link_to "#{t('nav.bottom.agreement')}", static_pages_treaty_path %><%= t('devise.label.please_read_part2') %></li>
                  </ul>
                </div>
          </div><!-- r-box -->
      </div><!-- container -->
    </div> <!-- contents -->
</body>