<p id="notice"><%= notice %></p>

<p>
  <strong>Object:</strong>
  <%= @statistic.object_id %>
</p>

<p>
  <strong>Object type:</strong>
  <%= @statistic.object_type %>
</p>

<p>
  <strong>Action:</strong>
  <%= @statistic.action %>
</p>

<p>
  <strong>Count:</strong>
  <%= @statistic.count %>
</p>

<%= link_to 'Edit', edit_statistic_path(@statistic) %> |
<%= link_to 'Back', statistics_path %>
