<!-- Modal -->
<div class="modal fade modal-tougao" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title">
         上传您的大作
        </h4>
      </div>
      <%= form_for :illustration, url: user_illustrations_path(current_user),
        remote: true, html: {display: 'none', id: 'upload_form'} do |f| %>
      <div class="modal-body">
        <div id="list">
          <img src="/assets/question_mark.jpg" width="200px" />
        </div>
        <div class="des">
          <%= f.label :name do %>作品名称:<% end %>
          <%= f.text_field :name, size:"30", maxlength:"50" %>
          <%= f.text_area :description, class: "form-control", rows: "3", onBlur: "if(this.innerHTML==''){this.innerHTML='填写作品描述......';this.style.color='#D1D1D1'}", onFocus: "if(this.innerHTML=='填写作品描述......'){this.innerHTML='';this.style.color='#000'}", value: "填写作品描述......" %>
        </div>
      </div>
      
      <div class="modal-footer">
          <div class="upload" style="cursor:pointer">
            <div class="uploading-text">
              选择作品
            </div>
            <%= f.file_field :ill_image, :style=>
              "width:140px;height:40px;position:absolute;left:0;top:0;opacity:0;cursor:inherit"
              %>
          </div>
          <button type="button" class="btn btn-default" data-dismiss="modal" style="height:40px">
            close
          </button>
          <!-- <button type="button" class="btn btn-primary" style="height:40px"
          id="upload_button">上传作品</button> -->
          <%= f.submit "上传作品", :id=>
            "upload_pic", :class => "btn btn-primary", :style => "height:40px" %>
            <% end %>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->