<!DOCTYPE html>
<!--nobanner-->
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <style type="text/css">
            /* for masonry*/
            .col-sm-2 {
                width: 20%;
                margin-bottom: 10px
            }
        </style>


        <script type="text/javascript">
           $(function(){
                /*$("#ill").masonry({
                    itemSelector: ".col-sm-2"
                });*/
               var $container = $(".row");
               $container.imagesLoaded(function() {
                    $container.masonry({
                          itemSelector: '.col-sm-2',
                          isAnimated: true, 
                          animationOptions: {
                            duration: 700,
                            easing: 'linear',
                            queue: false
                          }              
                       });
               });
            });

          

        </script>

    </head>
    <body id="top">
        <div class="contents">
            <%= render "home/nav" %>
                <div style="height:76px">
                </div>
                <div class="container">
                    <%= render "ranking" %>
                    <div class="image-row">
                        <div class="image-set">
                           <div class="row" id="ill"> <!-- p: data-masonry-options='{ "columnWidth": 200, "itemSelector": ".col-sm-2" }' -->
                                <% @illustrations.each do |illustration| %>
                                    <div class="col-sm-2">
                                        <div class="graybox">
                                            <div class="imgarea">
                                                <a class="example-image-link" href="<%= illustration.ill_image.url(:large) %>" data-lightbox="example-set"
                                                title="『<%= illustration.name %>』">
                                                    <%= image_tag illustration.ill_image.url(:thumb), class: "example-image", alt: "" %>
                                                </a>
                                            </div>
                                            <!-- imgarea -->
                                            <p class="itemtitle">
                                                『<%= illustration.name %>』
                                            </p>
                                        </div><!-- graybox -->
                                    </div><!-- col-sm-2 -->
                                <% end %>
                            </div><!-- row ill -->
                        </div><!-- image set -->
                    </div><!-- image row -->
                </div><!-- container -->
                <div class="clear">
                </div>
            <div class="container">
               <%= render "home/bottom" %>
           </div>
    </body>
</html>