<script type="text/javascript">
  
  $(function(){

    $("#nav").css("background-image", 'none');
    $("#loading").hide();

     // jquery validate
    $("#edit_user").validate({
        rules: {
            "user[email]": {
                required: true,
                email: true
            },
            "user[password]": {
              required: true,
              minlength: 3
            },
            "user[password_confirmation]": {
              required: true,
              minlength: 3,
              equalTo: "#user_password"
            }
        },

        messages: {
          "user[email]": {
            required: "<%= t('devise.failure.input_email') %>",
            email: "<%= t('devise.failure.input_valid_email') %>"
          },
          "user[password]": "<%= t('devise.failure.input_password') %>",
          "user[password_confirmation]": {
            equalTo:  "<%= t('devise.failure.confirm_password') %>",
            required: "<%= t('devise.failure.input_password') %>"
          }
        },

        highlight: function(element) {
            $(element).closest(".form-group").addClass('has-error');
        },
        unhighlight: function(element) {
            $(element).closest('.form-group').removeClass('has-error');
        },


        errorElement: 'span',
        errorClass: 'help-block',
        errorPlacement: function(error, element) {
            if(element.parent('.controls').length) {
                error.appendTo(element.parent());
            } else {
                error.appendTo(element.parent());
            }
        },
        submitHandler: function(form) {
            //jQuery(form).ajaxSubmit(options);
            form.submit();
            $("#loading").show();
        }
    });

  });

</script>

<style type="text/css">
  
  .contents {
    background-color: lightpink;
  }

  #finish-signup {
    padding: 20px;
    margin:30px auto;
    border: 1px solid #eee;
    border-radius: 10px;
    background-color: rgba(255,255,255,1);
    height: 550px;
  }

  #finish-signup h1, form {
    padding-left: 50px;
    padding-top: 20px;
  }

  #finish-signup input[type='submit'] {
    margin-top: 20px;
  }

   #finish-signup input {
    width: 250px;
    font-size: 14px;
   }

</style>

<body id="top">
  <div class="contents">
    <%= render "home/nav3" %>
      <div style="height:76px">
      </div>
      <div id="finish-signup" class="container">
         <!-- <div id="loading" class="text-center"><= image_tag "loading.gif", style: "margin-right: 10px" %><= t('progress.processing') %></div> -->
        <h1><%= t('devise.label.last_step') %></h1>
        <%= form_for(current_user, :as => 'user', :url => finish_signup_path(current_user), :html => { role: 'form'}) do |f| %>
          <% if @show_errors && current_user.errors.any? %>
            <div id="error_explanation">
              <% current_user.errors.full_messages.each do |msg| %>
                <%= msg %><br>
              <% end %>
            </div>
          <% end %>
          <div class="form-group">
            <%= f.label :email %>
            <div class="controls">
              <%= f.email_field :email, :autofocus => false, class: 'form-control input' %>
              <p class="help-block"><%= t('devise.label.finish_sign_up_email') %></p>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :password %>
            <div class="controls">
              <%= f.password_field :password, :autofocus => true, :value => '', class: 'form-control input' %>
              <!-- <p class="help-block">Please confirm your email address. No spam.</p> -->
            </div>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation %>
            <div class="controls">
              <%= f.password_field :password_confirmation, :autofocus => false, :value => '', class: 'form-control input'%>
              <!-- <p class="help-block">Please confirm your email address. No spam.</p> -->
            </div>
          </div>
          <div class="actions">
            <%= f.submit t('devise.registrations.finish_signup'), :class => 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </body>