<!DOCTYPE html>

<style>
    .person-cont{ float:left; width:500px; padding-left:60px; } .person-cont-lable{
    padding-right:0px; }
</style>

<%= stylesheet_link_tag "devise" %>
<script type="text/javascript"> 
<!-- this would only work at chrome & firefox-->
$(function() {

    $("#nav-a").addClass("active");

    // input file display
    $("input[type='file").change(function(evt) {
      var images = evt.target.files;
      for(var i=0, f; f=images[i]; i++) {
        if(!f.type.match('image.*')) {
          continue;
        }
        var reader = new FileReader();
        reader.onload = (function(file) {
          return function(e) {
            $(".user-img img").attr("src", e.target.result);
          }
        })(f);
        reader.readAsDataURL(f);
      }
    });
  })
</script> 
<body id="top">
  <div class="contents">
    <%= render "home/nav" %>
      <div style="height:76px">
      </div>
      <div class="container">
        <div style="height:50px">
        </div>
        <%= render "devise/registrations/sider" %>
          <div class="r-box">
                    <div class="user-img">
                        <%= image_tag @user.photo.url(:medium), class: "img-rounded" %>
                    </div>
                    <div class="person-cont">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    邮箱：
                                </label>
                                <div class="col-sm-10">
                                    <p class="form-control-static">
                                        <%= @user.email %>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    职业：
                                </label>
                                <div class="col-sm-10">
                                    <p class="form-control-static">
                                        <%= @user.occupation.name %>
                                    </p>
                                </div>
                            </div>
                             <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    姓名：
                                </label>
                                <div class="col-sm-10">
                                    <p class="form-control-static">
                                        <%= @user.name %>
                                    </p>
                                </div>
                            </div>
                           
                    
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    格言：
                                </label>
                                <div class="col-sm-10">
                                    <p class="form-control-static">
                                        <%= @user.motto %>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label person-cont-lable">
                                    作品数：
                                </label>
                                <div class="col-sm-10">
                                    <p class="form-control-static">
                                        <%= @user.publishes.count %>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label person-cont-lable">
                                    订单数：
                                </label>
                                <div class="col-sm-10">
                                    <p class="form-control-static">
                                        <%= @user.orders.count %>
                                    </p>
                                </div>
                            </div>
                            
                             <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    奖金：
                                </label>
                                <div class="col-sm-10">
                                      <span>$</span>
                                        <div class="well well-sum"  style="width:80px; height:40px; position:relative;display:-webkit-inline-flex; display:inline-flex; vertical-align:super">
                                          <span style="top:10px; right:10px; position:absolute">-</span>
                                        </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label person-cont-lable">
                                    收藏数：
                                </label>
                                <div class="col-sm-10">
                                    <p class="form-control-static">
                                        -
                                    </p>
                                </div>
                            </div>
                            <div class="form-group" style="margin-left:-25px">
                                <label class="col-sm-2 control-label">
                                    标签:
                                </label>
                                <div class="col-sm-10" style="margin-left:-70px; margin-top:10px">
                                    <div class="label-box">
                                        <% @user.tags.each do |tag| %>
                                          <a class="btn btn-success btn-mini" style="background-color:<%= tag.color.rgb %>; border:none transparent">
                                            <%= tag.tag_name %>
                                          </a>
                                        <% end %>  
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--form-con end-->
                </div><!-- r-box -->

          <div id="buystep" style=" clear:both;width:1140; overflow:hidden; margin:0 0 0 -15px;">
            <h1 class="title2">
              <span>
                可选形式
              </span>
            </h1>
            <ul class="works-list works-list2 works-list3">
              <li>
                <a href="###">
                  <img src="../assets/demopage/image-10.jpg" />
                </a>
              </li>
              <li>
                <a href="###">
                  <img src="../assets/demopage/image-9.jpg" />
                </a>
              </li>
              <li>
                <a href="###">
                  <img src="../assets/demopage/image-10.jpg" />
                </a>
              </li>
              <li>
                <a href="###">
                  <img src="../assets/demopage/image-9.jpg" />
                </a>
              </li>
              <li>
                <a href="###">
                  <img src="../assets/demopage/image-10.jpg" />
                </a>
              </li>
              <li>
                <a href="###">
                  <img src="../assets/demopage/image-9.jpg" />
                </a>
              </li>
              <li>
                <a href="###">
                  <img src="../assets/demopage/image-9.jpg" />
                </a>
              </li>
              <li>
                <a href="###">
                  <img src="../assets/demopage/image-10.jpg" />
                </a>
              </li>
              <li>
                <a href="###">
                  <img src="../assets/demopage/image-9.jpg" />
                </a>
              </li>
              <li>
                <a href="###">
                  <img src="../assets/demopage/image-9.jpg" />
                </a>
              </li>
            </ul>
          </div>
      </div>
      <!-- container -->
      <div style="height:200px">
      </div>
      <div class="clear">
      </div>
      <div class="container">
        <%= render "home/bottom" %>
      </div>
      <!-- container -->
  </div>
  <!-- contents -->
</body>

</html>