<style type="text/css">

  .carousel-caption h3 {
    text-align: center;
  }
  .carousel-caption p {
    text-align: center;
  }
  .item {
    height: 800px;
  }
</style>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "demo products/demo_1.jpg", class: "img-responsive", alt: "" %>
      <!-- <div class="carousel-caption">
        <h3>Main Visual 2014</h3>
        <p>SO-ZO，把你的创意变成产品</p>
      </div> -->
    </div>
    <div class="item">
      <%= image_tag "demo products/demo_2.jpg", class: "img-responsive", alt: "" %>
      <!-- <div class="carousel-caption">
        <h3>Main Visual 2014</h3>
        <p>SO-ZO，把你的创意变成产品</p>
      </div> -->
    </div>
    <div class="item">
      <%= image_tag "demo products/demo_3.jpg", class: "img-responsive",  alt: "" %>
      <!-- <div class="carousel-caption">
        <h3>Main Visual 2014</h3>
        <p>SO-ZO，把你的创意变成产品</p>
      </div> -->
    </div>
    <div class="item">
      <%= image_tag "demo products/demo_4.jpg", class: "img-responsive", alt: "" %>
      <!-- <div class="carousel-caption">
        <h3>Main Visual 2014</h3>
        <p>SO-ZO，把你的创意变成产品</p>
      </div> -->
    </div>
    <div class="item">
      <%= image_tag "demo products/demo_5.jpg", class: "img-responsive", alt: "" %>
      <!-- <div class="carousel-caption">
        <h3>Main Visual 2014</h3>
        <p>SO-ZO，把你的创意变成产品</p>
      </div> -->
    </div>
    <div class="item">
      <%= image_tag "demo products/demo_6.jpg", class: "img-responsive", alt: "" %>
      <!-- <div class="carousel-caption">
        <h3>Main Visual 2014</h3>
        <p>SO-ZO，把你的创意变成产品</p>
      </div> -->
    </div>
  </div>

  <!-- Controls -->
  <!-- <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a> -->
</div>