<div class="instruction-container">
	<%= image_tag "so-zo_01.jpg", id: "head-image", class: "instruction-image img-responsive" %>
	<%= image_tag "so-zo_02.jpg", class: "instruction-image img-responsive" %>
	<%= image_tag "so-zo_03.jpg", class: "instruction-image img-responsive" %>
	<%= image_tag "so-zo_04.jpg", class: "instruction-image img-responsive" %>
	<%= image_tag "so-zo_05.jpg", class: "instruction-image img-responsive" %>
</div>