<div id="nav">
        <div class="container">
            <h1 id="logo">              <!-- flow -->
              <%= link_to(root_path) do %>

              <%= image_tag("logo.png", alt: "So-Zo", width: "150px", style:"z-index:999") %>
              
              <% end %>
                <!--<a href="index.html"><img src="./assets/logo.jpg" alt="" /></a>-->
            </h1>
            <div style="margin-left: 10px; margin-top:20px; font-size: x-large; font-family: fantasy">| <%= t('devise.label.at_registration') %></div>
            <div style="position: absolute; top: 50px; right: 450px">
                <span><%= t('devise.label.to_sign_in') %></span><a href="<%= new_user_session_path %>"><%= t('devise.links.sign_in_btn') %></a>
            </div>
            <div class="clear"></div>
        </div>	<!-- container -->
    </div><!-- nav -->