<%= stylesheet_link_tag "home" %>
<div id="nav">
        <div class="container">
            <h1 id="logo">
              <%= link_to("/") do %>
              <%= image_tag("logo.jpg", alt: "logo") %>
              <% end %>
                <!--<a href="index.html"><img src="./assets/logo.jpg" alt="" /></a>-->
            </h1>
            <div class="col-sm-1"></div>
                <ul>
                    <li><%= link_to "イラスト", illustrations_path, class: "menu" %></li>
                    <li><%= link_to "商品", illustrations_path, class: "menu" %></li>
                    <li><%= link_to "作者", illustrations_path, class: "menu" %></li>
                    <li><%= link_to "ギャザリング", illustrations_path, class: "menu" %></li>
                    <!--
                    <li><a href="ill.html"><div class="menu">イラスト</div></a></li>
                    <li><a href="item.html"><div class="menu">商品</div></a></li>
                    <li><a href="designer.html"><div class="menu">作者</div></a></li>
                    <li><a href="gathering.html"><div class="menu">ギャザリング</div></a></li>-->
                </ul>
            <div class="col-sm-1"></div>
            <div class="col-sm-4">
                <div>
                    <a href="<%= authors_path %>" class="btn btn-info btn-md" role="button" style="color: white">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                    <a href="<%= authors_path %>" class="btn btn-success btn-md" role="button" style="color: white">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                    <a href="<%= authors_path %>" class="btn btn-primary btn-md" role="button" style="color: white">
                        <span class="glyphicon glyphicon-star"></span>
                    </a>
                    <a href="<%= authors_path %>" class="btn btn-warning btn-md" role="button" style="color: white">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                    </a>
                </div>
                <!--<div class="well well-sm" style="margin:3px;">-->
               <div class="login-panel">
                   <% if user_signed_in? %>
                            <div class="user-info"> 
                                <span style="float:left">您好：<%= current_user.name %></span>
                                <div class="user-toggle">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                            <span class="glyphicon glyphicon-align-justify"></span> <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">我的作品</a></li>
                                            <li><a href="#">我的订单</a></li>
                                            <li><a href="#">个人主页</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">退出</a></li>
                                        </ul>
                                    </div> <!-- btn-group -->
                                </div> <!-- user-toggle -->
                            </div>
                        
                        <p class="notice"></p>
                   <% else %>
                        <a href="<%= "users/sign_in" %>">登陆</a> |
                        <a href="<%= "user/sign_up"  %>">注册</a>
                        <p class="alert"></p>
                   <% end %>
                    <!--</div>-->	<!-- well -->
                </div> <!-- login-panel -->
            </div>	<!-- col 4 -->
            <div class="clear"></div>
        </div>	<!-- container -->
    </div>	<!-- nav -->