<script type="text/javascript">
    function clear_session(){
        
    }
</script>

<div id="nav">
        <div class="container">
            <h1 id="logo">
              <%= link_to(root_path) do %>
              <%= image_tag("logo2.png", alt: "So-Zo", width:"140px") %>
              <% end %>
                <!--<a href="index.html"><img src="./assets/logo.jpg" alt="" /></a>-->
            </h1>
            <div style="width:50px;height:1px"></div>
            <ul>
                    <li><%= link_to t('nav.menu.illustration'), publishes_path, class: "menu" %></li>
                    <li><%= link_to t('nav.menu.product'), products_path, class: "menu" %></li>
                    <li><%= link_to t('nav.menu.hot'), hot_publishes_path, class: "menu" %></li>
                    <li><%= link_to t('nav.menu.group_buy'), '#', class: "menu" %></li>
            </ul>

            <div class="col-sm-1"></div>
           
            <div id="button_panel" style="position:relative;">
                <a href="#" class="btn btn-info btn-md" role="button" style="color: white" data-toggle="tooltip" data-placement="bottom" title="<%= t('nav.search') %>">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
                <a href="
                    <% if user_signed_in? %>
                        <%= user_path(current_user) %>
                    <% else %>  
                        <%= new_user_session_path %>
                    <% end %>
                    " class="btn btn-success btn-md" role="button" style="color: white" data-toggle="tooltip" data-placement="bottom" title="<%= t('nav.my_page') %>">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
                <a href="
                    <% if user_signed_in? %>
                        #
                    <% else %>  
                        <%= new_user_session_path %>
                    <% end %>" class="btn btn-primary btn-md" role="button" style="color: white" data-toggle="tooltip" data-placement="bottom" title="<%= t('nav.favicons') %>">
                    <span class="glyphicon glyphicon-star"></span>
                </a>
                <a href="<%= line_items_path %>" class="btn btn-warning btn-md" role="button" style="color: white" data-toggle="tooltip" data-placement="bottom" title="<%= t('nav.shopping_cart') %>">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                </a>
            </div>

            <!--<div class="well well-sm" style="margin:3px;">-->
           <div class="login-panel">
               <% if user_signed_in? %>
                        <!--<script type="text/javascript">
                            $(document).ready(function() {
                                $("#tougao").click(function() {
                                    location.href="<%= new_user_publish_path(current_user) %>";
                                })
                            });
                        </script>-->

                        <div class="user-info"> 
                            <span style="float:left"><%= t('nav.hello', user: current_user.name) %></span>
                            <div class="user-toggle">
                                <div class="btn-group">
                                    <button type="button" class="dropdown-toggle btn btn-link" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-magnet" style="margin-right:5px"></span><span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="<%= new_user_publish_path(current_user) %>"><%= t('nav.publish_upload') %></a/</li>
                                        <li><a href="<%= user_publishes_path(current_user) %>"><%= t('nav.my_publishes') %><span class="badge"><%= current_user.publishes.count %></span></a></li>
                                        <li><a href="<%= user_orders_path(current_user) %>"><%= t('nav.my_orders') %><span class="badge"><%= current_user.orders.count %></span></a></li>
                                        <li><a href="<%= edit_user_registration_path %>"><%= t('nav.my_page')%></a></li>
                                        <li class="divider"></li>
                                        <li><!-- <a href="<%= destroy_user_session_path %>">退出</a> -->
                                            <%= link_to destroy_user_session_path, method: :delete, data: { confirm: t('errors.messages.exit_message') }, onclick: "clear_session()" do %><%= t('nav.exit') %><% end %>
                                        </li>
                                    </ul>
                                </div> <!-- btn-group -->
                            </div> <!-- user-toggle -->
                        </div><!-- user-info -->

                        <div class="user-tougao">
                            <a href="<%= new_user_publish_path(current_user) %>" class="btn-tougao" id="tougao"><%= t('nav.publish_upload') %></a>
                        </div>        
                    
                    <!-- <p class="notice"></p> -->
               <% else %>
                    <a href="<%= "users/sign_in" %>"><%= t('nav.login') %></a> |
                    <a href="<%= "users/sign_up" %>"><%= t('nav.register') %></a>
                   <!--  <p class="alert"></p> -->
               <% end %>
            </div> <!-- login-panel -->
            <div class="clear"></div>
        </div>	<!-- container -->
    </div>	<!-- nav -->