<style type="text/css">
	.search-container {
		width: 100%;
		height: 450px;
		/*margin-top: 80px;*/
		padding: 20px;
		padding-top: 120px;
		background-color: #009cdc;
		background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #039ddc), color-stop(100%, #0072dc));
		background: -webkit-linear-gradient(top, #039ddc,#0072dc);
		background: -moz-linear-gradient(top, #039ddc,#0072dc);
		background: -o-linear-gradient(top, #039ddc,#0072dc);
		background: linear-gradient(top, #039ddc,#0072dc);
		position: relative;
		display: none;
	}
	.search-title {
		padding: 20px;
		font-size: large;
		color: white;
	}
	.search-group {
		margin-left: auto;
		margin-right: auto;
		max-width: 62.5em;
		background-color: rgba(255,255,255, 0.2);
		padding-top: 25px;
	}
	.resource-types {
		height: 250px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
		-webkit-box-shadow: 0 3px 0 #222f3d;
		-moz-box-shadow: 0 3px 0 #222f3d;
		box-shadow: 0 3px 0 #222f3d;
		-webkit-transition: all 0.25s linear;
		-moz-transition: all 0.25s linear;
		-o-transition: all 0.25s linear;
		transition: all 0.25s linear;
		color: white;
		text-align: center;
		width: 100%;
		position: absolute;
		top: -50px;
		background: #34495e;
		overflow-y: scroll;
		z-index: 9999;
		visibility: hidden;
		opacity: 0;
		padding: 15px 10px;
	}
	.resource-types span {
		display: block;
		background-color: white;
		font-weight: bold;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
		color: #34495e;
		padding: 5px;
	}
	.resource-types.open {
		-webkit-transition: opacity 0.25s;
		-moz-transition: opacity 0.25s;
		-o-transition: opacity 0.25s;
		transition: opacity 0.25s;
		visibility: visible;
		opacity: 1;
	}
	.resource-types li:hover {
		background: #46627f;
	}
	.resource-types li {
		list-style: none;
		height: 36px;
		line-height: 36px;
		cursor: pointer;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding: 0 10px;
	}
	.resource-type-list {
		width: 100%;
		max-width: 300px;
		margin: 0 auto 20px;
		position: relative;
		text-align: center;
		color: white;
	}
	.resource-type-list .resource-type {
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
		-webkit-box-shadow: 0 3px 0 #222f3d;
		-moz-box-shadow: 0 3px 0 #222f3d;
		box-shadow: 0 3px 0 #222f3d;
		background: #34495e;
		background-size: 36px 36px;
		cursor: pointer;
		width: 100%;
		height: 56px;
		line-height: 56px;
		background-size: 63px 60px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		position: relative;
		padding: 0 50px;
		font-size: large;
	}
	.resource-type-list	.resource-type i {
		position: absolute;
		left: 10px;
		top: 10px;
	}
	i {
		padding: 2px;
	}
	input[type="text"].search-field {
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
		-webkit-box-shadow: 0 3px 0 #6789ab;
		-moz-box-shadow: 0 3px 0 #6789ab;
		box-shadow: 0 3px 0 #6789ab;
		height: 56px;
		border: none;
		outline: none;
		position: relative;
		font-size: 24px;
		font-weight: lighter;
		margin-bottom: 20px;
	}
	button[type="submit"].search-field-button {
		position: absolute;
		right: 30px;
		top: 10px;
		border: none;
		outline: none;
		background-color: white;
	}
</style>

<script type="text/javascript">
	$(function(){

		$(".resource-type").click(function(){
			$(".resource-types").addClass("open");
		});

		/* register click event for li */
		$(".resource-types li").click(function(e) {
			$("#resource-type #name").text($(e.target).text());
			// $("input[name='resource-path']").val($(e.target).attr("resource-path"));
			// $("input[name='resource_path']").val($(e.target).attr("resource-path"));
			$("input[name='resource_type_code']").val($(e.target).attr("resource-type-code"));
			$("input[name='resource_type']").val($(e.target).attr("resource-type"));
			// alert($(e.target).attr("resource-type-code-name"));
			$(".resource-types").removeClass("open");
		});

		$("#search-field-button").click(function(e) {
			e.preventDefault();
			// console.log($("input[name='resource-path']").val());
			// $("#search-form").attr("action", $("input[name='resource-path']").val());
			$("#search-form").submit();
			return false;
		});

		/* hide resource-types select box when click anywhere other than itself */
	    $(document).mouseup(function (e)
		{
		    var container = $(".resource-types");

		    if (!container.is(e.target) // if the target of the click isn't the container...
		        && container.has(e.target).length === 0 && container.hasClass("open")) // ... nor a descendant of the container
		    {
		        container.removeClass("open");
		    }
		});
	})

</script>

<div class="search-container">
	<div class="op"></div>
	<div class="search-title text-center"><%= t('search.title') %></div>
	<div class="search-box">
		<form action="<%= search_path %>" method="get" id="search-form" autocomplete="off">
			<div class="row text-center search-group">
				<div class="col-lg-8 form-group">
					<input id="search-field" autofocus="1" placeholder="<%= t('search.keywords') %>" class="form-control search-field" name="search_field" type="text" value="">						
					<button class="search-field-button" id="search-field-button" type="submit"><i class="fa fa-search fa-2x"></i></button>
				</div>	

				<div class="col-lg-4 form-group">
					<div class="resource-type-list">
						<div class="resource-type" id="resource-type">
							<i class="fa fa-bars fa-2x"></i>
								<span id="name"><%= t('publish.all') %></span>							</div>						
						<!-- <input type="hidden" name="resource-path" value="<%= publishes_path %>"> -->
						<input type="hidden" name="resource_type_code" value="w" >
						<input type="hidden" name="resource_type" value="all" >
						<!-- OPTIMZIEME -->
						<!-- replace with helper -->
						<ul class="resource-types">
							<span><%= t('nav.menu.publish') %></span>
							<% publish_categories.each do |category| %>
						        <li resource-type-code="w" resource-type="<%= category.name %>" resource-path="<%= publishes_path(publish_category: category.name) %>"><%= category.description %></li>
						      <% end %>
						      <li resource-type-code="w" resource-type="all" resource-path="<%= publishes_path %>"><%= t('publish.all') %></li>
							<span><%= t('nav.menu.product') %></span>
							<% product_categories.each do |category| %>
						        <li resource-type-code="c" resource-type="<%= category.name %>" resource-path="<%= products_path(product_category: category.name) %>"><%= category.description %></li>
						      <% end %>
						      <li resource-type-code="c" resource-type="all" resource-path="<%= products_path %>"><%= t('product.all') %></li>
						</ul>
					</div>
					
				</div>
				
			</div>
		</form>
	</div>
</div>