<!DOCTYPE html>
<html>
  <head>

<script type="text/javascript">
   $(document).ready(function(){
      var ill_options = {
              target: '#make',
              url: '/illustrations/top',
              data: {top:3},
              success: function(data) {
                  $("#make").html(data);
              }
          };
      $.ajax(ill_options);

      var product_options = {
        target: "#products_latest_4",
        url: '/products/top',
        data: {top:4},
        success:function(data) {
          $("#products_latest_4").html(data);
        }  
      };

      $.ajax(product_options);
   })    
  </script>
  </head>
  <body id="top">
    <%= render "home/nav" %>
      <div class="contents">
        <div class="container">
          <div id="mainvisual">
            <%= image_tag( "mainvisual.gif", alt: "main visual") %>
              <!--<img src="/assets/mainvisual.gif" alt="aaaaaa" />
              -->
          </div>
          <!-- mainvisual -->
          <div class="col-sm-12 midashi">
            <p>
              スタッフの推しプ
            </p>
          </div>
          <div class="image-row">
            <div class="image-set">
              <div class="row" id="new">

                <% @products.each do |product| %>

                  <div class="col-sm-3">
                    <div class="graybox">
                      <p class="ribbon">
                        <img src="/assets/new_ribbon.png" alt="" />
                      </p>
                      <div class="imgarea">
                        <a class="example-image-link" href="/assets/example1.gif" data-lightbox="example-set"
                        title="作品">
                          <img class="example-image" src="<%= product.product_images.first.product_image.url(:medium) %>" alt="" />
                        </a>
                        <div class="price">
                          ￥<%= product.price %>
                        </div>
                      </div>
                      <!-- imgarea -->
                      <p class="itemtitle">
                        <%= product.name %>
                      </p>
                      <p class="itemdetail">
                        <%= product.description %>
                      </p>
                    </div><!-- graybox -->
                  </div><!-- col3 -->

                <% end %>       

              </div>
              <!-- row new -->
            </div>
            <!-- image set -->
          </div>
          <!-- image row -->


          <div class="col-sm-12 midashi">
            <p>
              作りたい商品を選
            </p>
          </div>
          <div class="row" id="make">
            
          </div>
          <!-- row make -->


          <div class="col-sm-12 midashi">
            <p>
              スタッフの推しプ
            </p>
          </div>
          <div class="image-row">
            <div class="image-set">
              <div class="row" id="new">
                
                <div id="products_latest_4">

                </div>

              </div>
              <!-- row new -->
            </div>
            <!-- image set -->
          </div>
          <!-- image row -->
        </div>
        <!-- container -->
        <div class="clear">
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-9" id="footerbase">
              <p>
                <span>
                  最新の活動報告
                </span>
                <br />
                ああああああああああああああああああああああああああああああああああああああああああああああ
                <br />
                いうおえいおうえお
              </p>
            </div>
            <!-- col9 -->
            <div class="col-lg-3" id="footerleft">
              <button type="button" class="btn btn-success btn-md" style="margin:35px auto auto 130px;">
                <span>
                  詳細はこちら
                </span>
              </button>
            </div>
            <!-- col3 -->
          </div>
          <!-- row -->
          <div id="company">
            <div class="row">
              <div class="col-lg-4">
                <div>
                  <img src="/assets/logo_gray.jpg" alt="" />
                </div>
              </div>
              <!-- col4 -->
              <div class="col-lg-6">
                <div>
                  <p id="title">
                    About US
                  </p>
                  <p id="txt">
                    ２０１０年に結成しました。都内のカフェでのイベントや、野外フェスでのライブを中心に活動しています。音楽に乗せて詩を朗読すると言
                  </p>
                </div>
              </div>
              <!-- col6 -->
            </div>
            <!-- row -->
          </div>
          <!-- company -->
         <%= render "bottom" %>
        <!-- container -->
      </div>

</html>