 <style type="text/css"> 
    .graybox {
      height: 400px
    }

    .graybox .imgarea {
      height:300px
    }
 </style>

 
<script type="text/javascript">   

</script>

  <body>
    <div class="header">
          <%= render "home/nav" %>
          <%= render "search_box" %>
          <div id="mainvisual">
            <%= render "carousel" %>
          <!--<img src="/assets/mainvisual.gif" alt="aaaaaa" />
          -->
          </div>
    </div>
      <div class="content">
        <!-- mainvisual -->
                  <%= render "instruction" %>
        <div class="container">

         <!--  <div class="col-sm-12 midashi">
            <p>
              <= link_to products_path(), class: "home-link" do %>
                <= t('home.latest_products') %>
              < end %>
            </p>
          </div>
          <= render "products", object: @products %>


          <div class="col-sm-12 midashi">
            <p>
              <= link_to publishes_path(:publish_category => "photo"), class: "home-link" do %>
                <= t('home.latest_photos') %>
              < end %>
            </p>
          </div>
          <= render "publishes", object: @publishes %> -->


          <div class="col-sm-12 midashi">
            <p>
              <%= link_to products_path(), class: "home-link" do %>
                <%= t('home.popular_products') %>
              <% end %>
            </p>
          </div>
          <% @products = get_products_by_statistics('V', 4) %>
          <%= render "products", object: @products %>

        <div style="height:76px"></div>
        <div class="clear">
        </div>
        <div class="activity">

          <div class="row">
            <div class="col-lg-9" id="footerbase">
              <p>
                <span>
                  最新の活動報告
                </span>
                <br />
                新商品導入成功
                <br />
               カーテン対応
              </p>
            </div>
            <!-- col9 -->
            <div class="col-lg-3" id="footerleft">
              <button type="button" class="btn btn-success btn-md">
                <span>
                  詳細はこちら
                </span>
              </button>
            </div>
            <!-- col3 -->
          </div><!-- row -->

          <div id="company">
            <div class="row">
              <div class="col-lg-4">
                <div>
                  <%= image_tag "logo_gray.png", alt: "So-Zo" %>
                </div>
              </div>
              <!-- col4 -->
              <div class="col-lg-6">
                <div>
                  <p id="title">
                    About US
                  </p>
                  <p id="txt">
                    <%= get_about_us() %>
                  </p>
                </div>
              </div>
              <!-- col6 -->
            </div>
            <!-- row -->
          </div>
          <!-- company -->
      </div>        <!-- activity -->
    </div> <!-- container -->
  </div> <!-- content -->
  <div class="bottom">
    <div class="container">
        <%= render "bottom" %>
    </div>
  </div>
</body>