 <% @orders.each do |order| %>
                      <tr class="order-number">
                        <td colspan="6">
                          <span><%= order.order_number %></span>
                        </td>
                      </tr>
                      <tr>
                        <td class="order-info">
                          <% order.order_items.each do |order_item| %>
                            <%= image_tag order_item.product.product_images.first.product_image.url(:thumb), class: "img-thumbnail", width:"60px" %>
                          <% end %>
                          
                        </td>
                        <td><%= order.user.name %></td>
                        <td><%= order.sum %></td>
                        <td><%= order.created_at.strftime('%F') %></td>
                        <td><%= order.state.description %></td>
                        <td>
                          <a href="#">查看</a>
                          <a href="#">付款</a>
                          <a href="#">取消订单</a>
                        </td>
                      </tr>
                    <% end %>