  <style type="text/css">

  .my-cart {
    width:60%;
    margin: auto
  }

  .my-cart button {
    width:120px;
    height: 40px;
    float: right;
  }

  .my-cart .btn-down {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .my-cart-title {
    margin: 10px 0 20px 0;
    padding-top: 20px
  }

  .my-cart .my-cart-title #title {
    font-size: x-large;
    font-weight: bold;
  }

  .table {
    width: 90%;
    margin:auto;
  }

  .table thead tr {
    background-color: #fcfcfc
  }

  .table thead tr th span {
    margin-left:5px; 
    vertical-align:text-bottom
  }

  .table tbody tr td {
    vertical-align: middle;
  }

  .table tbody tr td span {
    margin-left:5px; vertical-align:text-bottom
  }

  hr {
    filter: alpha(opacity=100,finishopacity=0,style=3)
  }

  .list-title {
    margin:60px; font-size:large; font-weight:bold
  }

  #edit_info {
    margin-left: -50px
  }

  #edit_info img {
    margin-bottom:10px; width:24px;
  }

  #loading {
    margin-bottom:10px; width:24px;margin-left:-50px
  }

  .contact_info {
    border: #eee solid 1px; width:90%; margin:auto
  }

  #order_total {
    width:80px; display:inline;text-align:center;margin-left:5px; margin-right:5px
  }

  </style>

 <script type="text/javascript">

    $(document).ready(function(){

        afterLoad();

        /*$('#update_contact').click(function() {
            $("#address_from").ajaxForm(options).submit();  
            $("#myModal").modal('hide');
            $("#edit_info").hide();
            $("#loading").show();
        });*/

        $("#btn-order-confirm").click(function(){
            if($("#address").text().trim() == "" || $("#tel").text().trim() == "")
            {
              $("#myModal").modal('show');
              return false;
            } else {
              // everything is ok, submit the order
              $("#order_form").submit();
            }
        });

         // jquery validate

        var options = {
            dataType: 'json',
            success: function(data) {
              $("#tel").text(data["phone"]);
              $("#address").text(data["address"]);
              $("#loading").hide();
              $("#edit_info").show();
            }
        };

        $("#address-form").validate({
            rules: {
                "user[phone]": {
                    required: true
                },
                "user[address]": {
                    required: true
                }
            },

            highlight: function(element) {
                $(element).closest(".form-group").addClass('has-error');
            },
            unhighlight: function(element) {
                $(element).closest('.form-group').removeClass('has-error');
            },

            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function(error, element) {
                if(element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element.parent());
                }
            },
            submitHandler: function(form) {
                jQuery(form).ajaxSubmit(options);
                $("#myModal").modal('hide');
                $("#edit_info").hide();
                $("#loading").show();
            }
        });

    });

    function afterLoad() {
        $("#loading").hide();
        $("#nav").css("background-image", 'url("/assets/buy_bg2.png")');
        calculateTotal();
        $('#order_sum').val(parseInt($("#order_total").text()));
    }

    function calculateTotal() {

        var item_quantity = 0;
        var quantity = 0;
        var price    = 0;
        var item_price = 0;
        // calculate money
        $('input[name="qty_item"]').each(function(){

              item_quantity = parseInt($(this).val().trim());
              quantity += item_quantity

              $(this).parent().parent().parent().nextAll().each(function() {
                  if($(this).hasClass("price") == true) {
                      item_price = parseFloat($(this).find("span").text().trim()) * item_quantity;
                      price    += item_price;
                      item_price = 0;
                      item_quantity = 0;
                  } 
              });
            });

            $("#order_quantity").text(quantity);
            $(".well-sm").text(price);
        };

 </script>

 <body id="top">
  <div class="contents">
      <%= render "home/nav2" %>
    <div style="height:76px">
    </div>

    <%= render "contact" %>

    <div class="my-cart">

        <div class="my-cart-title">
          <span id="title">填写确认订单信息</span>
           <button class="btn btn-danger btn-lg btn-up" style="display:none">
           确认订单 <span class="glyphicon glyphicon-chevron-right"><span>
        </button>
          
        </div>

        <div class="panel panel-default">
             <div style="height:30px"></div>
             <span class="list-title" >联系人信息</span>
             <a href="javascript:void(0)"  onclick='$("#myModal").modal("show");' id="edit_info">
             <%= image_tag "/assets/file_edit.png" %></a>
             <%= image_tag "/assets/loading.gif", id: "loading" %>
             <div class="contact_info">
               <form class="form-horizontal" role="form" style="margin-left:-110px">
                  <div class="form-group">
                      <label class="col-sm-2 control-label">
                          邮箱：
                      </label>
                      <div class="col-sm-10">
                          <p class="form-control-static">
                              <%= current_user.email %>
                          </p>
                      </div>
                  </div>
                   <div class="form-group">
                      <label class="col-sm-2 control-label">
                          姓名：
                      </label>
                      <div class="col-sm-10">
                          <p class="form-control-static">
                              <%= current_user.name %>
                          </p>
                      </div>
                  </div> 
                  <div class="form-group">
                      <label class="col-sm-2 control-label">
                          电话：
                      </label>
                      <div class="col-sm-10">
                          <p class="form-control-static" id="tel">
                              <%= current_user.phone %>
                          </p>
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="col-sm-2 control-label">
                          地址：
                      </label>
                      <div class="col-sm-10">
                          <p class="form-control-static"  id="address">
                              <%= current_user.address %>
                          </p>
                      </div>
                  </div>
            </form>
          </div>
          <div style="height:50px"></div>
          <span class="list-title">商品清单</span>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>商品</th>
                  <th>商品名称</th>
                  <!-- <th>Cart</th> -->
                  <th>颜色</th>
                  <th>尺寸</th>
                  <th>数量</th>
                  <th>单价</th>
                </tr>
              </thead>

             <tbody>
                 <% get_line_items().each do |line_item| %>
                        <tr>
                          <td><%= image_tag line_item.product.product_images.first.product_image.url(:thumb), width: "100px", class: "img-thumbnail", width: "80px" %></td>
                          <td><span><%= line_item.product.name %></span></td>
                          <td>
                              <% color = Color.find_by_id(line_item.color_id) do |color| %>
                                <%= color.name %>
                              <% end %>
                          </td>
                          <td>
                              <% size = Size.find_by_id(line_item.size_id) do |size| %>
                                <%= size.name %>
                              <% end %>
                          </td>
                          <td class="quantity">  

                            <div class="p_number">
                                <div class="f_l add_chose">
                                    <input type="text" name="qty_item" value="<%= line_item.quantity %>" id="qty_item_<%= line_item.id %>" class="text" disabled=true style="margin-top:10px" />
                                </div>
                            </div>

                          </td>
                          <td class="price">
                            ￥<span style="margin-left:0px"><% product = Product.find_by_id(line_item.product_id) do |product| %>
                                <%= product.price %>
                            <% end %></span>
                          </td>
                        </tr>
                      <% end %>

   
                
              </tbody>
            </table>
          </div>

          <div class="panel-body" style="text-align:right">
            <hr width=100% size=3 color=#00ffff/>
            <span>总共有<em id="order_quantity"></em>件商品</span>
            <span>共</span><div class="well well-sm" id="order_total"></div><span>元</span>
          </div>

          <!-- <div class="panel-footer"> -->
          <!-- <div class="panel-heading">Panel Heading</div> -->

        </div>

        <div class="btn-panel">
          <a href="<%= line_items_path %>" class="button button-rounded button-flat" style="float:left; margin:20px">返回购物车</a>
          <%= form_for :order, url: user_orders_path(current_user), html: {id: 'order_form'} do |f| %> 
            <%= f.button :id=>
            "btn-order-confirm", :class => "btn  btn-danger btn-lg btn-down", :style => "float: right; height:40px" do %> 
                确认订单<span class="glyphicon glyphicon-chevron-right"><span>
            <% end %>
            <%= f.hidden_field :sum %>
            <%= f.hidden_field :state_id, value: get_default_order_state() %>
          <% end %>
        </div>

          <!-- link_to 'New Line item', new_line_item_path -->
          </div>
          <div class="clear">
      </div>
      <div class="container">
         <%= render "home/bottom" %>
     </div>
</body>