<!DOCTYPE html>

<style>

  .watch-box {
    border: none;
    float:right;
    width: 860px;
    background-color: white;
    padding: 10px;
  }

  .watch-gathering-title {
    border: 1px solid #e6e6e6;
    border-bottom: 2px solid #e96637;
    height: 33px;
    line-height: 33px;
    margin-bottom: 10px
  }

  .watch-gathering-title h4 {
    color: #e96637;
    padding-left:  16px;
    float: left
  }

  .watch-gathering-info {
    padding-left: 20px;
    border: 1px solid #e6e6e6;
    margin-top: -10px;
    min-height: 60px
  }

  .watch-gathering-info #watch-prompt dl {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  }



  .watch-gathering-info .watch-prompt dt{
    text-align: right;
    float:left;
    margin-right: 25px
  }

  .watch-gathering-info .watch-prompt dd {
    margin-right: 25px;
    float: left;
  }

  .quick-op {
    margin-top: 20px;
    padding-left: 10px;
    border-bottom: 1px solid #e6e6e6;
  }

  .watch-list {
    /*border: 1px solid #e6e6e6;*/
    padding: 10px
  }

  .watch-list .works-info {
    word-break: break-all;
    white-space: normal;
    width: 260px;
  }

  .watch-list #loading {
    text-align: center;
  }

  .thumbnail img {
    max-width: 250px;
    max-height: 200px;
  }

</style>

<%= stylesheet_link_tag "devise" %>

<script type="text/javascript">
    $(function() {

        $("#nav-e").addClass("active");
        $("#nav-e a").css("background-color", "#e96637");
        $("#loading").hide();

        setSelect();

        $('select').change(function() {
            $('#filter-form').submit();
        });

        /*$('input[type="checkbox"]').change(function() {
             $('#filter-form').submit();
        });*/

    })


    function setSelect() {
    var category = getUrlParameters("publish_category", "", true);
    var sell = getUrlParameters("sell", "", true);

    if(category != false){
        $('#publish_publish_category').val(category);
    }

    /*if(sell != false) {
        $('#publish_sell').prop("checked",true);
    }*/

    }


    function getUrlParameters(parameter, staticURL, decode) {
        var currLocation = (staticURL.length) ? staticURL: window.location.search,
        parArr = currLocation.split("?")[1].split("&"),
        returnBool = true;

        for (var i = 0; i < parArr.length; i++) {
            parr = parArr[i].split("=");
            if (parr[0] == parameter) {
                return (decode) ? decodeURIComponent(parr[1]) : parr[1];
                returnBool = true;
            } else {
                returnBool = false;
            }
        }

        if (!returnBool) return false;
    }
</script>

<body>
  
  <%= render "home/header" %>

  <div class="content">
      <div class="container">
        <div style="height:50px">
        </div>
        <%= render "devise/registrations/sider" %>
        <div class="watch-box">
          <%= render "watches" %>
        </div><!--collection-box-->

      </div><!-- container -->
  </div><!-- contents -->
  <%= render "home/footer" %>
</body>

</html>
