<script type="text/javascript">
  
  $(function() {
    $("#nav").css("background-image", 'none');
  });

</script>

<style type="text/css">
  
    .login-container {
      margin-left: 30%;
      margin-top: 50px;
      margin-bottom: 80px;
      height: 500px
    }

    .login-image {
      float: left
    }

    .login-form {
      min-width: 350px;
      max-width: 400px;
      padding: 25px;
      border: #eee solid 1px;
      float: left;
      margin-left: 100px
    }

    .login-form input[type='submit'] {
      height: 40px;
    }
</style>

<body id="top">
  <div class="contents">
      <%= render "home/nav2" %>
    <div style="height:76px">
    </div>

    <div class="login-container">
        <div class="login-image">

          <%= image_tag "/assets/login_abc.png" %>

         </div>

        <div class="login-form">
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), role: "form") do |f| %>

          <div class="form-group">
            <%= f.label :email do %> <%= User.human_attribute_name('email') %> <% end %> <br />
            <%= f.email_field :email, :autofocus => true, class: "form-control" %>
        </div>

          <div class="form-group">
            <%= f.label :password do %> <%= User.human_attribute_name('password') %> <% end %><br />
            <%= f.password_field :password, class: "form-control" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="checkbox">
              <%= f.check_box :remember_me %> <%= f.label :remember_me do %> <%= t('devise.links.remember_me') %> <% end %>
            </div>
          <% end -%>

          <div><%= f.submit t('devise.links.sign_in_btn'), class: "btn btn-warning" %></div>
        <% end %>

        <div style="height:30px">
        </div>

        <%= render "devise/shared/links" %>
      </div>
  </div>

      <div class="clear">
      </div>
      <div class="container">
         <%= render "home/bottom" %>
     </div>

</div>

</body>