<%= include_gon(:init => true) %>
<%= stylesheet_link_tag "publishes" %>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/additional-methods.min.js"></script>
<script type="text/javascript">

    $(document).ready(function() {

       $("#processing").hide();
       $('#loading').hide(); 
       $('#uploading').hide();   
       $('.product-op').hide();
       $("#myModal").modal('show');
       //$("#products_view").hide();

        // show agreement
        // $("#agreement").click(function(){
        //     $("#agreement-modal").modal('show');
        // });
        // hide agreement
        // $("#btn-hide-agreement-modal").click(function(){
        //     $("#agreement-modal").modal('hide');
        // });

        // $('#myModal').on('hidden.bs.modal', function (e) {
       
        // });

        // $('#agreement-modal').on('hidden.bs.modal', function (e) {
        //   $('#agreement-modal').modal('hide');
        // })

       $("#price-form").validate({
            rules: {
                "product[price]": {
                    required: true
                },
            },

            highlight: function(element) {
                $(element).closest(".form-group").addClass('has-error');
            },
            unhighlight: function(element) {
                $(element).closest('.form-group').removeClass('has-error');
            },

            messages: {
              "product[price]" : "请输入1-100之间的比例",
            },

            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function(error, element) {
                if(element.parent('.input-group').length) {
                    error.appendTo(element.parent());
                } else {
                    error.appendTo(element.parent());
                }
            },
            submitHandler: function(form) {
                //jQuery(form).ajaxSubmit(options);
                //form.submit();
                //$("#loading").show();
                update_price("",false);
            }
        });

        // confrim tougao
        $('#btn-confirm-tougao').click(function(){
            //$("#loading").show();
            $.ajax({
                url: "/users/<%= current_user.id %>/publishes/commit",
                method: "put",
                dataType: "text",
                data: {publish_id:$("#publish_id").val()},
                success: function(data) {
                    $("#loading").hide();
                    //console.log("success");
                    //console.log(data);
                    flash(data);
                    location.href = "<%= user_publishes_path(current_user) %>";
                },
                error: function(data){
                    $("#loading").hide();
                    //console.log("error");
                    //console.log(data);
                    flash(data);
                }
            });
        });


        // cancel tougao
        $('#btn-re-tougao').click(function(){
            //$("#loading").show();
            $.ajax({
                url: "/users/<%= current_user.id %>/publishes/reset",
                method: "delete",
                dataType: "text",
                data: {publish_id:$("#publish_id").val()},
                success: function(data) {
                    $("#loading").hide();
                    //console.log("success");
                    //console.log(data);
                    flash(data);
                    location.href = "<%= new_user_publish_path(current_user) %>";
                },
                error: function(data){
                    $("#loading").hide();
                    //console.log("error");
                    //console.log(data);
                    flash(data);
                }
            });
        });

        // jquery validate
        $("#upload_form").validate({
            rules: {
                "publish[name]": {
                    required: true,
                    maxlength:10,
                    minlength:1
                },
                "publish[description]": {
                    required: true,
                    maxlength:100,
                    minlength:5
                },
                "publish[isOriginal]" : {
                    required: true
                },
                "publish[publish_image]": {
                    required: true,
                    accept: "image/jpeg,image/png"
                }

            },

            messages: {
              "publish[publish_image]" : {
                required: "<%= t('modal.upload.errors.upload_publish') %>",
                accept: "<%= t('modal.upload.errors.publish_format_not_valid') %>"
             },
              "publish[name]": {
                required: "<%= t('modal.upload.errors.input_name') %>",
                maxlength: "<%= t('modal.upload.errors.name_too_long') %>",
                minlength: "<%= t('modal.upload.errors.name_too_short') %>"
              },
              "publish[description]": {
                maxlength:  "<%= t('modal.upload.errors.description_too_long') %>",
                required: "<%= t('modal.upload.errors.input_description') %>",
                minlength: "<%= t('modal.upload.errors.description_too_short') %>"
              },
              "publish[isOriginal]": {
                    required: "<%= t('modal.upload.errors.agree_to_our_policy') %>"
              }
            },


            highlight: function(element) {
                $(element).closest(".form-group").addClass('has-error');
            },
            unhighlight: function(element) {
                $(element).closest('.form-group').removeClass('has-error');
            },

            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function(error, element) {
                console.log(element.parent());
                if(element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    if($(element).attr('name') == "publish[isOriginal]") {
                        error.insertAfter($("#agreement"));
                    } else {
                        error.insertAfter(element.parent());
                    }
                }
            },
            submitHandler: function(form) {
                var options = {
                    dataType: 'json',
                    processData: false,
                    success: function(data) {
                        $("#processing").hide();
                        console.log(data);
                        console.log("I am here");        
                        // set publish id to hidden input        
                        $("#publish_id").val(data["publish_id"]);
                        var templates = jQuery.parseJSON(data["templates"]);
                        console.log("templates: " + templates)
                        preview_products(templates);
                    },
                    xhr: function(){
                        var xhr = $.ajaxSettings.xhr();
                        if(xhr.upload) {
                            //Upload progress
                            xhr.upload.addEventListener("progress", function(e){
                                if (e.lengthComputable) {
                                      //Do something with upload progress
                                      var percent = (e.loaded / e.total) * 100
                                      /*
                                      $("#uploading .progress .progress-bar").attr("aria-valuenow", percent);
                                      $("#uploading .progress .progress-bar").css("width", percent + "%");
                                      $("#uploading .progress .progress-bar span").text(percent + '%');
                                      */
                                      $("#uploading span").text(percent.toFixed(0) + '%');
                                      console.log(percent.toFixed(0) + '%');
                                }
                             }, false);

                            xhr.upload.addEventListener("load", function(e){
                                $("#uploading").hide();
                                $("#processing").show();
                            }, false);
                        }

                        
                        
                        return xhr;
                   }
                };
                jQuery(form).ajaxSubmit(options);
                $("#pre").hide();
                $("#uploading").show();
                $("#myModal").modal('hide');
            }
        });



        // view image that going to be uploaded
        $("input[type='file']").change(function(evt) {
            var files = evt.target.files;

            for (var i = 0,
            f; f = files[i]; i++) {

                if (!f.type.match('image.*')) {
                    continue;
                }

                var reader = new FileReader();

                reader.onload = (function(theFile) {
                    return function(e) {
                        $(".publish-image img").attr("src", e.target.result); //预览图片的位置  
                        //$("#pre").hide();               
                    };
                })(f);

                reader.readAsDataURL(f);
            }
        });

    });

    var preview_products = function(templates) {

        total = templates.length;
        //var index = 1;

        $("#making #progress").text("<%= t('product.quantity') %>: " + total);
        $("#making").show();

        console.log("sliding up");
        $('#nav').slideUp('slow'); 
        console.log("sliding down");
        $('.product-op').slideDown('slow');

        //$.each(templates,function(i,val){

            var options = {
                target: '#products_view',
                url: '/products/preview',
                data: {publish_id:$("#publish_id").val()},//template_id: val.id},
                success: function(data) {
                    //$("#making #progress").text(index + " / " + total);
                    $("#products_view").html(data);

                    var $container = $("#products_view");
                    $("#making").hide();
                    $container.imagesLoaded(function() {
                        load_masonry($container, ".col-sm-2");           
                    });

                    $('input[type="submit"]').removeAttr("disabled"); 
                    $('button').removeAttr("disabled");                
                    $('a').removeAttr("disabled");  

                   //index++;
                }
            };

            //console.log(val);
            $.ajax(options);
        //});
    };


    function load_masonry(container, itemSelector) {
        container.masonry({
              itemSelector: itemSelector,
              isAnimated: true, 
              animationOptions: {
                duration: 700,
                easing: 'linear',
                queue: false
              }              
        });
    }

    function product_delete(event) {
            $("#loading").show();
            var id = $(event.target).attr('id');
            $.ajax({
                type: "delete",
                url: "/users/<%= current_user.id %>/products/" + id.split("-")[1],
                dataType: "text",
                beforeSend: function(XMLHttpRequest) {
                    this; //调用本次ajax请求时传递的options参数
                },
                success: function(data) {
                    $("#loading").hide();
                    console.log("success");
                    flash(data);
                    $("#"+id).parent().parent().parent().remove();
                    var $container = $("#products_view");
                    load_masonry($container, ".col-sm-2");              
                }, 
                error: function(data) {
                  console.log("error");
                  console.log(data);
                  $("#loading").hide();
                  flash(data.responseText);
                }
            });
    }

    // update price in browser
    function set_price(price_ratio) {
        $('input[name="product[price]"]').each(function(){
            var cur_price = $(this).val();
            var new_price = cur_price * (1 + price_ratio / 100);
            $(this).val(new_price.toFixed(2));
        });
    }

    function validate_price(event) {
        new_price = $(event.target).val();
        base_price = $(event.target).prev().val();
        if(new_price > base_price * 2) {
            console.log("price_too_high")
            msg = "<%= t('product.base_price') %>" + base_price + "<%= t('product.price_too_high') %>";
            popup('<div class="body"><p>' + msg + '</p></div>', $(event.target));
            $(event.target).val(base_price);
            return false;
        }else if(new_price < base_price) {
            console.log("price_too_low");
            msg = "<%= t('product.base_price') %>" + base_price + "<%= t('product.price_too_low') %>";
            popup('<div class="body"><p>' + msg + '</p></div>', $(event.target));
            $(event.target).val(base_price);
            return false;
        } else {
            return true;
        }

    }

    function update_price(event,single) {
        var options = {}
        if(single == false) {
            product_price_ratio = $("#product_price").val();

            if(product_price_ratio > 0 && product_price_ratio <= 100) {

                options = {
                    method: 'put',
                    dataType: "text",
                    url: "/users/<%= current_user.id %>/products/setpriceonce",
                    data: {publish_id:$("#publish_id").val(),price_ratio:product_price_ratio},
                    success: function(data) {
                        $("#loading").hide();
                        //console.log("success");
                        //console.log(data);
                        set_price(product_price_ratio);
                        $("#product_price").val("");
                        flash(data);  
                        },
                    error: function(data) {
                        //console.log("error");
                        //console.log(data);
                        $("#loading").hide();
                        flash(data.responseText);
                    }
                };

            } else {

                msg = "<%= t('product.input_price_ratio_error') %>";
                popup('<div class="body"><p>' + msg + '</p></div>', $(event.target).prev());

                return;
            }

        } else {
            id = event.target.id.split('_')[2];
            input_price = $(event.target).prev();
            hidden_price = $(event.target).prev().prev();
            product_price = input_price.val();
            base_price = hidden_price.val();

             //already validated by input change   
           /* if(validate_price($(event.target).prev()) == false) {
                    return;
            }*/


            options = {
                method: 'patch',
                dataType: "text",
                url: "/users/<%= current_user.id %>/products/" + id,
                data: {price:product_price},
                success: function(data) {
                    $("#loading").hide();
                    //console.log("success");
                    //console.log(data);
                    flash(data); 
                    },
                error: function(data) {
                    //console.log("error");
                    //console.log(data);
                    $("#loading").hide();
                    flash(data.responseText);
                }
            };
        }
        
        $("#loading").show();
        console.log(options);
        $.ajax(options);
    };

</script>

<style type="text/css">
    .col-sm-2 {
        width: 20%;
        margin-bottom: 10px;
    }

    .publish-info {
        width:45%;
        float:right;
    }

    .product-op {
        margin-top: 50px;
        border-bottom: 1px solid #e6e6e6;
        height: 50px;
    }

    .product-op .left {
        float: left
    }

    .product-op .left label {
        float: left;
        padding-top: 5px;
        padding-right: 10px;
        width: 120px;
    }

    .product-op .right {
        float: right
    }

    .product-op .right button {
        margin-top: 5px;
    }

    .line-price {
        height: 45px;     
    }

    .line-price span {
        float: left;
        padding: 10px;
        padding-right: 5px;
    }

    .line-bottom a{
        color:white;
    }

    .line-bottom  a:hover{
        text-decoration: none;
    }

    #loading {
        text-align: center;
    }

    #price-input-group {
        width: 220px;
        position: absolute;
        margin-left: 100px;
    }

    #product_price {
        padding-left: 20px;
        text-align: right;
        background: url("<%= asset_path "percent.png" %>") no-repeat scroll left center transparent;
    }

    #price-submit {
        margin-left: 205px
    }


</style>
    <!--
    # upload file
    # upload success - > request preview products
    # load products
    # confirm products
    # backend - save and clean products-->

<body id="top">
    <div class="contents">
        <%= render "home/nav" %>
        <div style="height:76px">
        </div>
        <div class="container">

            <div class="clear">
            </div>

            <%= render "upload" %>

            <div style="margin-top: 10px">
            <div class="left-cont">
                <div id="publish_view" style="display:none">
                </div>
            </div>

            <div id="loading"><%= image_tag "loading.gif", style: "margin-right: 10px" %></div>
            <div class="product-op">

                <div class="left">
                    <form class="form-inline" role="form" id="price-form">
                      <div class="form-group">
                        <label for="product_price"><%= t('product.set_uniform_price') %>:</label>
                        <div class="input-group" id="price-input-group">
                            <input type="number" min="1" max="100" pattern="\d+" class="form-control" id="product_price" name="product[price]" placeholder="<%= t('product.input_price_ratio') %>">
                        </div>
                      </div>
                      <button type="submit" id="price-submit" class="btn btn-default" disabled="disabled" ><%= t('nav.ok') %></a></button>
                    </form>
                </div>

                <div class="right" style="float:right">  

                    <a role="button" id="btn-confirm-tougao" class="btn btn-success"  disabled="disabled" ><%= t('product.confirm_tougao') %></a>
                    <a id="btn-re-tougao" class="publish-delete btn btn-danger" role="button" disabled="disabled"><%= t('product.re_tougao') %></a>    
                </div>

            </div>

            <input type="hidden" id="publish_id" />
            <div id="products_view" class="right-cont">
                    <!--把图片资源添加到此处 例如： <div class="col-sm-2">
                    <div class="graybox">
                    <div class="imgarea">
                    <a class="example-image-link" href="./img/example2.gif" data-lightbox="example-set" title="『新生 軟式globe』">
                    <img class="example-image" src="./img/example2.gif" alt="" /></a>
                    </div>
                    <p class="itemtitle">『新生 軟式globe』</p>
                    </div 
                    </div>  
                    -->
                <%= render "loading" %>
            </div>
            <!--products_view-->
            <div class="clear"></div>
        </div><!--container-->

    </div><!--contents-->
</body>