<!DOCTYPE html>

<style type="text/css">

/*  .publish-box {
    border: none;
    float:right;
    width: 860px;
  }

  .publish-gathering-title {
    border: 1px solid #e6e6e6;
    border-bottom: 2px solid #B8A2F0;
    height: 33px;
    line-height: 33px;
    margin-bottom: 10px
  }

  .publish-gathering-title h4 {
    color: #B8A2F0;
    padding-left:  16px;
    float: left
  }

  .publish-gathering-info {
    padding-left: 20px;
    border: 1px solid #e6e6e6;
    margin-top: -10px;
    min-height: 60px
  }

  .publish-gathering-info #publish-prompt dl {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  }



  .publish-gathering-info .publish-prompt dt{
    text-align: right;
    float:left;
    margin-right: 25px
  }

  .publish-gathering-info .publish-prompt dd {
    margin-right: 25px;
    float: left;
  }

  .quick-op {
    margin-top: 20px;
    padding-left: 10px;
    border-bottom: 1px solid #e6e6e6;
  }

  .publish-list {
    padding: 10px
  }

  .publish-list .works-info {
    word-break: break-all;
    white-space: normal;
    width: 260px;
  }

  .publish-list #loading {
    text-align: center;
  }

  .thumbnail img {
    max-width: 250px;
    max-height: 200px;
  }
*/
</style>

<%= stylesheet_link_tag "devise" %>

<script type="text/javascript">
    $(function() {

        $("#nav-b").addClass("active");
        $("#nav-b a").css("background-color", "#B8A2F0");
        $("#loading").hide();

        setSelect();

        $('select').change(function() {
            $('#filter-form').submit();
        });

        // $('input[type="checkbox"]').change(function() {
        //      $('#filter-form').submit();
        // });

        // init iCheck
        $('input').iCheck('uncheck');

        // icheck callback
        $('input').on('ifChecked', function(event){
          $('#filter-form').submit();
          $(event.target).iCheck('check');
          //alert(event.target + ' callback');
        });

        $('input').on('ifUnchecked', function(event){
          $(event.target).iCheck('uncheck');
          //alert(event.target + ' callback');
        });

    })

    function setSelect() {
      var category = getUrlParameters("publish_category", "", true);
      var sell = getUrlParameters("sell", "", true);

      if(category != false){
          $('#publish_publish_category').val(category);
      }

      if(sell != false) {
          $('#publish_sell').prop("checked",true);
      }
    }

</script>

<body>
  
  <%= render "home/header" %>

  <div class="content">
      <div class="container">

        <div style="height:50px">
        </div>
        <% if can? :manage, @user %>
          <%= render "devise/registrations/sider" %>
        <% else %>
          <%= render "users/sider", object: @user %>
        <% end %>

        <div class="publish-box">
          <%= render "publishes", object: @publishes %>
        </div><!--publish-box-->
          
      </div><!-- container -->
  </div>
  <!-- contents -->
  <%= render "home/footer" %>
</body>

</html>