<!--<%= @products.size() %>-->
<% @products.each do |product| %>
    <div class="col-sm-2">
        <div class="graybox">
            <div class="imgarea">
                <a class="example-image-link" href="<%= product.product_image.url(:large) %>" data-lightbox="example-set"
                title="<%= product.name %>">
                    <%= image_tag product.product_image.url(:thumb) %>
                </a>
            </div><!-- imgarea -->
            <p class="itemtitle">
                『<%= product.name %>』
            </p>
        </div><!-- graybox -->
    </div><!-- col2 -->

    <!-- test for all -->
    <div class="col-sm-2">
        <div class="graybox">
            <div class="imgarea">
                <a class="example-image-link" href="<%= product.product_image.url(:large) %>" data-lightbox="example-set"
                title="<%= product.name %>">
                    <%= image_tag product.product_image.url(:thumb) %>
                </a>
            </div><!-- imgarea -->
            <p class="itemtitle">
                『<%= product.name %>』
            </p>
        </div><!-- graybox -->
    </div><!-- col2 -->
    <div class="col-sm-2">
        <div class="graybox">
            <div class="imgarea">
                <a class="example-image-link" href="<%= product.product_image.url(:large) %>" data-lightbox="example-set"
                title="<%= product.name %>">
                    <%= image_tag product.product_image.url(:thumb) %>
                </a>
            </div><!-- imgarea -->
            <p class="itemtitle">
                『<%= product.name %>』
            </p>
        </div><!-- graybox -->
    </div><!-- col2 -->
    <div class="col-sm-2">
        <div class="graybox">
            <div class="imgarea">
                <a class="example-image-link" href="<%= product.product_image.url(:large) %>" data-lightbox="example-set"
                title="<%= product.name %>">
                    <%= image_tag product.product_image.url(:thumb) %>
                </a>
            </div><!-- imgarea -->
            <p class="itemtitle">
                『<%= product.name %>』
            </p>
        </div><!-- graybox -->
    </div><!-- col2 -->
<% end %>

<!-- below all tests, should be removed after that-->

<!-- test end -->


