
<div class="col-sm-3">
  <div class="graybox">
    <p class="ribbon">
    </p>
    <div class="imgarea">
      <%= link_to product_path(@relative_product), class: "example-image-link", title: "『#{@relative_product.name}』" do %>
        <%= image_tag product_image(@relative_product).product_image.url(:medium), class: "img-responsive example-image",
        alt: "" %>
      <% end %>
      <div class="price">
        $
        <%= @relative_product.price %>
      </div>
    </div>
    <!-- imgarea -->
    <p class="itemtitle">
      『
      <%= @relative_product.name %>
        』
    </p>
    <p class="itemdetail">
      <%= @relative_product.description %>
    </p>
  </div>
  <!-- graybox -->
</div>
<!-- col3 -->
<!-- test data -->  
<!-- test data --> 
