<!DOCTYPE html>

<style>

  .product-box {
    border: none;
    float:right;
    width: 860px;
  }

  .product-gathering-title {
    border: 1px solid #e6e6e6;
    border-bottom: 2px solid #f0ad4e;
    height: 33px;
    line-height: 33px;
    margin-bottom: 10px
  }

  .product-gathering-title h4 {
    color: #f0ad4e;
    padding-left:  16px;
    float: left
  }

  .product-gathering-info {
    padding-left: 20px;
    border: 1px solid #e6e6e6;
    margin-top: -10px;
    min-height: 60px
  }

  .product-gathering-info #product-prompt dl {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  }



  .product-gathering-info .product-prompt dt{
    text-align: right;
    float:left;
    margin-right: 25px
  }

  .product-gathering-info .product-prompt dd {
    margin-right: 25px;
    float: left;
  }

  .quick-op {
    margin-top: 20px;
    padding-left: 10px;
    border-bottom: 1px solid #e6e6e6;
  }

  .product-list {
    /*border: 1px solid #e6e6e6;*/
    padding: 10px
  }

  .product-list #loading {
    text-align: center;
  }

  .thumbnail img {
    max-width: 300px;
    max-height: 200px;
  }

</style>

<%= stylesheet_link_tag "devise" %>

<script type="text/javascript">
    $(function() {

        $("#nav-c").addClass("active");
        $("#nav-c a").css("background-color", "#f0ad4e");
        $("#loading").hide();

        setSelect();

        $('select').change(function() {
            $('#filter-form').submit();
        });

        $('input[type="checkbox"]').change(function() {
             $('#filter-form').submit();
        });

        $(".product-delete").click(function() {
            $("#loading").show();
            var id = $(this).attr('id');
            $.ajax({
                type: "delete",
                url: "/users/<%= current_user.id %>/products/" + id.split("-")[1],
                dataType: "text",
                beforeSend: function(XMLHttpRequest) {
                    this; //调用本次ajax请求时传递的options参数
                },
                success: function(data) {
                    $("#loading").hide();
                    console.log("success");
                    console.log(data);
                    flash(data);
                    $("#"+id).parent().parent().parent().parent().remove();
                }, 
                error: function(data) {
                  console.log("error");
                  console.log(data);
                  $("#loading").hide();
                  flash(data.responseText);
                }
            });
        });

    });

    function flash(data) {
        $(".alert span").text(data);
        $(".alert").slideDown('slow');
        window.setTimeout(function() {
            $(".alert").slideUp(500, function(){
                $(this).hide(); 
            });
        }, 1500);
    }

    function setSelect() {
    var category = getUrlParameters("product_category", "", true);
    var sell = getUrlParameters("sell", "", true);

    if(category != false){
      console.log(category);
        $('#product_template_category').val(category);
    }

    if(sell != false) {
        $('#product_sell').prop("checked",true);
    }

    }


    function getUrlParameters(parameter, staticURL, decode) {
        var currLocation = (staticURL.length) ? staticURL: window.location.search,
        parArr = currLocation.split("?")[1].split("&"),
        returnBool = true;

        for (var i = 0; i < parArr.length; i++) {
            parr = parArr[i].split("=");
            if (parr[0] == parameter) {
                return (decode) ? decodeURIComponent(parr[1]) : parr[1];
                returnBool = true;
            } else {
                returnBool = false;
            }
        }

        if (!returnBool) return false;
    }
</script>

<body id="top">
  <div class="contents">
    <%= render "home/nav" %>
      <div style="height:76px">
      </div>
      <div class="container">
        <div style="height:50px">
        </div>
        <%= render "devise/registrations/sider" %>





         <div class="product-box">

          <div class="product-gathering-title">
            <h4>
              <%= t('product.my_products') %>
            </h4>
          </div>

          <div class="product-gathering-info">

            <div class="product-prompt">
              <dl>
                <dt><%= t('nav.inform') %>:</dt>
                  <!-- bonus -->
                  <%
                    bonus = my_bonus
                    if bonus == 0.00
                  %>
                    <dd><span style="color:#999"><%= t('bonus.no_bonus') %></span></dd>

                  <% else %>
                    <dd><a href="#"><%= t('bonus.total') %>(<%= bonus %>)</a></dd>
                  <% end %>

                  <% 
                    total_count = current_user.products.count
                    if total_count == 0
                   %>
                      <dd><span style="color:#999"><%= t('product.no_products') %></span></dd>
                   <% else %>
                      <dd><a href="#"><%= t('product.total') %>(<%= total_count %>)</a></dd>

                      <!-- has products -->
                      <% @categories = TemplateCategory.all 
                         @categories.each do |category|
                      %>

                          <% 
                            count = get_products_on_template_category(category.id).count
                            if count != 0
                          %>  

                            <dd><a href="#"><%= category.description %>商品数(<%= count %>)</a></dd>

                          <% end %> <!-- end if -->

                          <% end %><!-- end category -->

                      <!-- sells -->    
                      <% 
                        total_sells = get_my_product_sells.count
                        if total_sells == 0
                      %>
                          <dd><span style="color:#999"><%= t('product.no_sells') %></span></dd>
                      <% else %>
                          <dd><a href="#"><%= t('product.total_sells') %>(<%= total_sells %>)</a></dd>

                          <!-- has cells -->
                          <% @categories = TemplateCategory.all 
                            @categories.each do |category|
                          %>

                          <% 
                            count = get_my_product_sells_on_template_category(category.id).count
                            if count != 0
                          %>  

                            <dd><a href="#"><%= category.description %><%= t('product.sells') %>(<%= count %>)</a></dd>

                          <% end %> <!-- end if -->

                          <% end %><!-- end category -->


                      <% end %><!-- end if -->


                      <% end %><!-- end if end -->
           

              </dl>
            </div><!-- product-prompt -->      
        </div> <!-- product-gather-info -->

    <!--       <div class="spinner product-buysetp-loaddelete" id="loading_delete">
              <div class="bounce1">
              </div>
              <div class="bounce2">
              </div>
              <div class="bounce3">
              </div>
              正在删除
          </div> -->
        <div class="quick-op">
              <form class="form-inline" role="form" id="filter-form" method="get" action="<%= user_products_path(current_user) %>">
                <div class="form-group">
                    <label for="inputEmail3" class=" control-label">
                      <%= t('product.select_product_category') %>：
                    </label>
                    <select name="product_category" id="product_template_category">
                      <option value="all">
                        <%= t('product.all') %>
                      </option>

                      <% TemplateCategory.all.each do |category| %>
                        
                        <option value="<%= category.name %>"><%= category.description %></option>

                      <% end %>  

                    </select>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="sell" value="1" id="product_sell">
                    <%= t('product.only_show_with_sells') %>
                  </label>
                </div>
              </form>
          </div>
        <div class="product-list">
          <div id="loading"><%= image_tag "/assets/loading.gif", style: "margin-right: 10px" %><%= t('progress.deleting') %></div>
          <div class="row">

            <% @products.each do |product| %>

            <div class="col-sm-6 col-md-4">
              <div class="thumbnail" style="height:350px">
                <%= image_tag product.product_images.first.product_image.url(:medium) %>
                <div class="caption">
                  <h3> 『<%= product.name %>』</h3>
                  <p><%= product.description %></p>
                  <p>
                    <!-- <a href="#" class="product-hide btn btn-default" role="button" id="hide-<%= product.id %>">隐藏</a> -->
                    <a href="<%= user_product_path(current_user, product) %>" class="product-hide btn btn-default" role="button" id="hide-<%= product.id %>"><%= t('publish.view') %></a>
                    <a  class="product-delete btn btn-danger" role="button" id="del-<%= product.id %>"><%= t('nav.delete') %></a>       
                  </p>
                </div>
              </div>
            </div>

            <% end %>

          </div><!-- row -->

        </div><!-- product-list -->    

        </div><!--product-box-->






          
      </div><!-- container -->
      <div style="height:200px">
      </div>
      <div class="clear">
      </div>
      <div class="container">
        <%= render "home/bottom" %>
      </div>
      <!-- container -->
  </div>
  <!-- contents -->
</body>

</html>