<!DOCTYPE html>

<style>

  .product-box {
    border: none;
    float:right;
    width: 860px;
  }

  .product-gathering-title {
    border: 1px solid #e6e6e6;
    border-bottom: 2px solid #f0ad4e;
    height: 33px;
    line-height: 33px;
    margin-bottom: 10px
  }

  .product-gathering-title h4 {
    color: #f0ad4e;
    padding-left:  16px;
    float: left
  }

  .product-gathering-info {
    padding-left: 20px;
    border: 1px solid #e6e6e6;
    margin-top: -10px;
    min-height: 60px
  }

  .product-gathering-info #product-prompt dl {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  }



  .product-gathering-info .product-prompt dt{
    text-align: right;
    float:left;
    margin-right: 25px
  }

  .product-gathering-info .product-prompt dd {
    margin-right: 25px;
    float: left;
  }

  .quick-op {
    margin-top: 20px;
    padding-left: 10px;
    border-bottom: 1px solid #e6e6e6;
  }

  .product-list {
    /*border: 1px solid #e6e6e6;*/
    padding: 10px
  }

  .product-list #loading {
    text-align: center;
  }

  .thumbnail img {
    max-width: 300px;
    max-height: 200px;
  }

</style>

<%= stylesheet_link_tag "devise" %>

<script type="text/javascript">
    $(function() {

        $("#nav-c").addClass("active");
        $("#nav-c a").css("background-color", "#f0ad4e");
        $("#loading").hide();

        setSelect();

        $('select').change(function() {
            $('#filter-form').submit();
        });

        $('input[type="checkbox"]').change(function() {
             $('#filter-form').submit();
        });

    });

    function flash(data) {
        $(".alert span").text(data);
        $(".alert").slideDown('slow');
        window.setTimeout(function() {
            $(".alert").slideUp(500, function(){
                $(this).hide(); 
            });
        }, 1500);
    }

    function setSelect() {
    var category = getUrlParameters("product_category", "", true);
    var sell = getUrlParameters("sell", "", true);

    if(category != false){
      console.log(category);
        $('#product_template_category').val(category);
    }

    if(sell != false) {
        $('#product_sell').prop("checked",true);
    }

    }


    function getUrlParameters(parameter, staticURL, decode) {
        var currLocation = (staticURL.length) ? staticURL: window.location.search,
        parArr = currLocation.split("?")[1].split("&"),
        returnBool = true;

        for (var i = 0; i < parArr.length; i++) {
            parr = parArr[i].split("=");
            if (parr[0] == parameter) {
                return (decode) ? decodeURIComponent(parr[1]) : parr[1];
                returnBool = true;
            } else {
                returnBool = false;
            }
        }

        if (!returnBool) return false;
    }
</script>

<body id="top">
  <div class="contents">
    <%= render "home/nav" %>
      <div style="height:76px">
      </div>
      <div class="container">
        <div style="height:50px">
        </div>

        <% if can? :manage, @user %>
          <%= render "devise/registrations/sider", object: @user %>
        <% else %>
          <%= render "users/sider", object: @user %>
        <% end %>

         <div class="product-box">

          <%= render "products", object: @products %>

        </div><!--product-box-->






          
      </div><!-- container -->
      <div style="height:200px">
      </div>
      <div class="clear">
      </div>
      <div class="container">
        <%= render "home/bottom" %>
      </div>
      <!-- container -->
  </div>
  <!-- contents -->
</body>

</html>