  <%= include_gon %>
<!-- no need to load, layout has loaded it-->
<!-- <script type='text/javascript' src='/assets/jquery-1.8.3.js'></script>   -->
<script type="text/javascript">

  $(document).ready(function() {
    // select default color and size after ready
    $(".det_c a:first").addClass("active");
    $(".det_b a:first").addClass("active");

    // jquery zoom
    var options = {  
            zoomType: 'standard',  
            lens:false,  
            preloadImages: true,  
            alwaysOn:false,  
            zoomWidth: 300,  
            zoomHeight: 300,  
            position:'left' ,
            showEffect: "fadein" 
            //...MORE OPTIONS  
    };

    $("a#jqzoom").jqzoom(options);


    // color select
    $(".det_c a").click(function(){
        $(".det_c a.active").removeClass("active");
        $(this).addClass("active");

    });

    // size select
    $(".det_b a").click(function(){
        $(".det_b a.active").removeClass("active");
        $(this).addClass("active");

    });

    // relative product js
    var lb = $("#limit-buy"),
    lb_cur = 1,
    lb_total = parseInt($("#J-lbtp").text().trim());
    lbp_w = lb.find(".products").width();
    lb_timer = null;
    t = 1;

    function showLimitBuyProducts() {
      if (lb_cur < 1) {
        lb_cur = lb_total;
      } else if (lb_cur > lb_total) {
        lb_cur = 1;
      }
      $("#J-lbcp").html(lb_cur);
      var products = $("#limit-buy .products").hide().eq(lb_cur - 1).show(),
      ta = products.find("textarea");

      if (ta.length) {
        products.html(ta.val());
      }
    }

    lb_timer = setInterval(function() {
      if(lb_total > 1) {
        lb_cur++;
        showLimitBuyProducts();
      }
    },
    4000);

    $("#J-lbn .prev, #J-lb .btn-prev").click(function() {
      lb_cur--;
      showLimitBuyProducts();
    });
    $("#J-lbn .next, #J-lb .btn-next").click(function() {
      lb_cur++;
      showLimitBuyProducts();
    });
    $("#J-lb").hover(function() {
      clearInterval(lb_timer);
      lb_timer = null;
      $("#J-lb .btn-prev, #J-lb .btn-next").show();
    },

    function() {
      lb_timer = setInterval(function() {
        if(lb_total > 1) {
          lb_cur++;
          showLimitBuyProducts();
        }
      },
      10000);
      $("#J-lb .btn-prev, #J-lb .btn-next").hide();
    });

    /*模拟加减控件*/
   /* $('.ctrl .jia').click(function() {
      var count = parseInt($(this).parent().find('#quantity').html()) + 1;
      $("#buy-count").attr("value", count);
      $(this).parent().find('#quantity').html(count);
    }); 

    $('.ctrl .jian').click(function() {
      var count = parseInt($(this).parent().find('#quantity').html()) - 1;
      if (count < 1) {
        count = 1;
      }
      $("#buy-count").attr("value", count);
      $(this).parent().find('#quantity').html(count);
    });*/


    // add to cart
    $("#btn_buy").click(function() {

        var color_id = parseInt($(".det_c a.active").attr("id").split('-')[1]);
        var size_id  = parseInt($(".det_b a.active").attr("id").split('-')[1]);
        var quantity = $("#quantity").val();

        $.post("/line_items",
          {product_id:gon.product_id, color_id:color_id, size_id:size_id, quantity:quantity}, 
          function(data) {
            location.href="<%= line_items_path %>";
          }
          );
    });

  });

  function SetTab(tab, id, cnt) {
    var menus = document.getElementById(tab).getElementsByTagName("li");
    for (i = 0; i < cnt; i++) {
      i == id ? menus[i].className = "on": menus[i].className = "";
      i == id ? document.getElementById(tab + "-content" + i).className = "block": document.getElementById(tab + "-content" + i).className = "none";
    }
  }

</script>

<%= stylesheet_link_tag "jquery.jqzoom" %>

</head>
<body id="top">
  <div class="contents">
    <%= render "home/nav" %>
      <div style="height:76px">
      </div>
      <div class="container">
        <div style="height:50px">
        </div>
        <div id="buystep">
          <div class="buy-left">

            <div class="position">
              <%= link_to "Home", root_path %>
              <span> / </span> 
              <%= link_to products_path(publish_category: @product.product_template.template_category.name) do %>
                <%= @product.product_template.template_category.description %>
              <% end %> 
              <span> / </span>
              『<%= @product.name %>』
          </div>

            <div class="det_info_box">

              <div class="det_info_left">

                <div id="clearfix jqzoom-area">

                  <div class="clearfix">
                    <%= link_to product_image(@product).product_image.url(:large), id: "jqzoom",  rel: "gal1",
                        title: "@product.name" do %>
                      <%= image_tag product_image(@product).product_image.url(:medium), class: "img-responsive", 
                      id: "small-image" %>
                    <% end %>
                  </div>

                   <ul id="thumblist" class="clearfix">

                    <% 
                        isHead = true
                        @product.product_images.each do |image| 
                    %>

                    <% if isHead != true %>
                      <li>
                        <a href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: '<%= image.product_image.url(:medium) %>',largeimage: '<%= image.product_image.url(:large) %>'}">
                          <%= image_tag image.product_image.url(:thumb),class: "img-thumbnail img-responsive" %>
                        </a>
                      </li>
                    <% else %>
                        <li>
                          <a href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: '<%= image.product_image.url(:medium) %>',largeimage: '<%= image.product_image.url(:large) %>'}" class="zoomThumbActive">
                            <%= image_tag image.product_image.url(:thumb),class: "img-thumbnail img-responsive" %>
                          </a>
                        </li>
                        <% isHead = false %>
                    <% end %>

                     <% end %>

                      <li>
                        <a href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: '<%= get_publish_image(@product).url(:medium) %>',largeimage: '<%= get_publish_image(@product).url %>' }">
                          <%= image_tag get_publish_image(@product).url(:thumb), class: "img-thumbnail img-responsive" %>
                        </a>
                      </li>

                    </ul>

                </div> <!-- id:content -->
              </div><!-- det_info_left -->
              <div class="det_info_right">
                <div class="det_info_a">
                  <h1 class="title">
                    『<%= @product.name %>』
                  </h1>
                  <p class="det_a">
                    BY.
                    <%= link_to user_path(@user) do %>
                      <strong><%= @user.name %></strong>
                    <% end %> 
                  </p>

                  <p class="det_a" style="padding-bottom:45px;">
                    <%= t('product.price') %>:
                    <span class="price">
                      <%= t('number.currency.JPY_SIGN')%><%= @product.price %>
                    </span>
                  </p>
                  <div class="numBar2 clear">
                    <div class="ctrl-left">
                      <%= t('product.quantity') %>:
                    </div>
                    <!-- <div class="ctrl">
                      <div class="jian">
                        -
                      </div>
                      <div id="quantity">
                        1
                      </div>
                      <div class="jia">
                        +
                      </div>
                    </div> -->


                    <div class="p_number">
                        <div class="f_l add_chose" style="margin-top:10px">
                            <a class="reduce" href="javascript:void(0)" onclick="setAmount.reduce('#quantity')">-</a>
                            <input type="text" name="quantity" value="1" id="quantity" onKeyUp="setAmount.modify('#quantity')"  class="text" />
                            <a class="add" href="javascript:void(0)" onclick="setAmount.add('#quantity')">+</a>
                        </div>
                    </div>


                    <div style="clear:both">
                    </div>
                  </div>
                  <p class="det_a det_b">
                    <span>
                      <%= t('product.size') %>:
                    </span>

                    <% @product.product_template.sizes.each do |size| %>
                        <a title="<%= size.size_value %>" id="size-<%= size.id %>">
                         <%= size.name %> 
                        </a>
                    <% end %>

                  </p>
                  <p class="det_a det_c">
                    <span>
                      <%= t('product.color') %>:
                    </span>

                    <% @product.product_template.colors.each do |color| %>
                        
                        <a title="<%= color.name %>" id="color-<%= color.id %>" style="background-color:<%= color.rgb %>"></a>

                    <% end %>    

                  </p>
                </div>
                <div class="share">
                  <ul>
                    <li>
                      <a href="###" class="s-a">
                      </a>
                    </li>
                    <li>
                      <a href="###" class="s-b">
                      </a>
                    </li>
                    <li>
                      <a href="###" class="s-c">
                      </a>
                    </li>
                    <div style="clear:both">
                    </div>
                  </ul>
                </div>

                <p class="btnBar">
                  <button type="button" id="btn_buy" class="btn btn-danger btn-lg buynow">
                    <%= t('cart.add_to_cart') %>
                  </button>
                  <!-- <button type="button" id="btn_design" class="btn btn-success btn-lg buynow" style="height:45px; margin-right:0;">
                    定&nbsp;&nbsp;制
                  </button> -->
                </p>



              </div>
              <div style=" clear:both;">
              </div>
            </div>
            <!--label-box bg-->
            <div style="height:40px;">
            </div>
            <!--label-box end-->
            <!--tab begin-->
            <div class="tabber" style="width:764px; height:auto; overflow:visible; border:none;">
              <div class="tmenu tmenu3" style="border:none;">
                <ul id="tab1">
                  <li class="on" onmouseover="SetTab('tab1',0,2);">
                    <%= Product.human_attribute_name('description') %>
                  </li>
                   <li onmouseover="SetTab('tab1',1,2);">
                    <%= ProductTemplate.human_attribute_name('description') %>
                  </li> 
                </ul>
              </div>
              <div class="tbox3">
                <div id="tab1-content0" class="block">
                  <div class="des-con">
                    <p>
                      <%= @product.description %>
                    </p>
                  </div>
                </div>
                <div id="tab1-content1" class="none">
                  <p>
                    <%= @product.product_template.description.html_safe %>
                  </p>
                </div> 
              </div>
              <!--tab end-->
            </div>
            <!--相关商品开始-->
            <div style="clear:both">
            </div>
            <div class="limit-box" id="J-lb">
              <div class="limit-buy-hd">
                <h2>
                  <%= t('product.related') %>
                </h2>
                <div class="limit-buy-nav" id="J-lbn">
                  <a href="javascript:void(0)" class="prev">
                  </a>
                  <span>
                    <em id="J-lbcp">
                      1
                    </em>
                    /
                    <strong id="J-lbtp">
                      <%
                        relative_products = relative_products(@product)
                        pages = product_pages(relative_products.count)
                       %>
                       <%= pages %>
                    </strong>
                  </span>
                  <a href="javascript:void(0)" class="next">
                  </a>
                </div>
              </div>
              <a href="javascript:void(0);" class="btn-prev">
              </a>
              <div class="limit-buy-bd" id="limit-buy">

                  <% (1..pages).each do |i| %>

                   <div class="products">

                    <% left_count = relative_products.size
                       if left_count >= 3
                    %>
                      <% (1..3).each do |j| %>
                        <% @relative_product = relative_products.pop() %>
                        <%= render "product", object: @relative_product %>
                      <% end %>
                    <% else %>
                      <% (1..left_count).each do |j| %>
                        <% @relative_product = relative_products.pop() %>
                        <%= render "product", object: @relative_product %>
                      <% end %>
                    <% end %>

                    </div><!-- products-->

                    <% end %> <!-- end all pages-->


                <a href="javascript:void(0);" class="btn-next">
                </a>
                </div>
              </div>
              <!--相关商品结束-->
            </div>
            <!--buy end-->
            <% render "rightbar" %>
        </div>
        <!-- container -->
        <div class="clear">
        </div>
        <div class="container">
          <%= render "home/bottom" %>
        </div>
        <!-- container -->
      </div>
      <!-- contents -->
</body>

</html>