 <script type="text/javascript">
    $(function() {
      $("#top_products").addClass("btn-danger");     
    });
 </script>

 <style type="text/css">
   .btn-fr a{
      color:white;
      margin-top: 30px
    }

    .btn-fr  a:hover{
        text-decoration: none;
    }

    .frequency {
      margin-top: 20px;
      color: rgb(112, 112, 112);
    }

 </style>

 <body id="top">
        <div class="contents">
            <%= render "home/nav" %>
                <div style="height:76px">
                </div>
                <div class="container">
                    <!--sidernav-->
                    <%= render "sider" %>
                    <div class="rankCon">
                      <%= render "publishes/ranking2" %>
                      <!-- category -->
                      
                      <div id="gathering">

                        <% @top_products.each do |item| %>

                          <% 
                            product = Product.find_by_id(item[0]) 
                            if not product.nil?
                          %>

                          <%  p "frequency #{item[1]}" %>
                        
                            <div class="col-sm-12 graybox graybox2">
                              <p class="ribbon"><%= image_tag "ribbon_gather.png" %></p>
                              <div class="imgarea"> 
                                  <!-- 2014-04-06 22:35 add link to the product -->
                                 <%= link_to product_path(product) do %>
                                <%= image_tag product.product_images.first.product_image.url(:medium), class: "img-rounded img-responsive", alt: product.name %>
                                <% end %>
                              </div>
                              <!-- imgaarea -->
                              <div class="gather_info">
                                <div class="title"><%= product.name %></div>
                                <div class="detail"><%= product.description %></div>
                                <div class="frequency"><%= t('product.frequency_sells') %><em><%= item[1] %></em><%= t('number.human.decimal_units.units.ci') %></div>
                                <!-- table -->
                                <div class="clear"></div>
                                <div class="userInfo">
                                  <div class="userImg">
                                    <div class="img-fl">
                                      <%= image_tag product.publish.user.photo.url(:thumb), alt: product.publish.user.name, width: "49", height: "49", class: "img-thumbnail" %>
                                    </div>
                                    <p><%= t('publish.author') %><br />
                                      <%= product.publish.user.name %></p>
                                  </div>
                                  <div class="btn-fr">
                                    <a href="<%= product_path(product) %>" class="button button-rounded button-flat-highlight button-small"><%= t('publish.view') %></a>
                                  </div>
                                  <div class="clear"></div>
                                </div>
                              </div><!-- gather_info -->
                              <div class="clear"></div>
                            </div><!-- col12 -->
                            <% end %> <!-- find product -->
                          <% end %><!-- end -->

                      </div><!-- gathering --> 

                    </div><!-- rankCon -->
            </div><!-- container -->
      </div><!-- contents -->
</body>