<!DOCTYPE html>
<html>
<head>
  <title>SoZo</title>

  <%= stylesheet_link_tag 	 "style" %>
  <%= stylesheet_link_tag	 "lightbox" %>
  <%= stylesheet_link_tag	 "bootstrap.min" %>
  <%= javascript_include_tag "jquery-1.10.2.min" %>
  <%= javascript_include_tag "lightbox-2.6.min" %>
  <%= javascript_include_tag "https://code.jquery.com/jquery.js" %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= javascript_include_tag "modernizr.custom" %>
  <%= csrf_meta_tags %>

  <!--
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>-->

</head>
<body id="top">
<div id="nav">
    <div class="container">
        <h1 id="logo">
          <%= link_to("/") do %>
          <%= image_tag("logo.jpg", alt: "logo") %>
          <% end %>
            <!--<a href="index.html"><img src="./assets/logo.jpg" alt="" /></a>-->
        </h1>
        <div class="col-sm-1"></div>
            <ul>
                <!--
                <li><%= link_to(illustrations_path) do %>
                  <div class="menu">イラスト</div>
                  <% end %>
                </li>-->
                <li><%= link_to "イラスト", illustrations_path, class: "menu" %></li>
                <li><%= link_to "商品", illustrations_path, class: "menu" %></li>
                <li><%= link_to "作者", illustrations_path, class: "menu" %></li>
                <li><%= link_to "ギャザリング", illustrations_path, class: "menu" %></li>
                <!--
                <li><a href="ill.html"><div class="menu">イラスト</div></a></li>
                <li><a href="item.html"><div class="menu">商品</div></a></li>
                <li><a href="designer.html"><div class="menu">作者</div></a></li>
                <li><a href="gathering.html"><div class="menu">ギャザリング</div></a></li>-->
            </ul>
        <div class="col-sm-1"></div>
        <div class="col-sm-4" style="margin-top:5px;">
            <div style="margin-top:5px;">
            <button type="button" class="btn btn-info btn-md">
              <span class="glyphicon glyphicon-search"></span>
            </button>
            <button type="button" class="btn btn-success btn-md">
              <span class="glyphicon glyphicon-user"></span>
            </button>
            <button type="button" class="btn btn-primary btn-md">
              <span class="glyphicon glyphicon-star"></span>
            </button>
            <button type="button" class="btn btn-warning btn-md">
              <span class="glyphicon glyphicon-shopping-cart"></span>
            </button>
            </div>
            <div class="well well-sm" style="margin-top:3px;">
            0 item - $0.00
            </div>	<!-- well -->
        </div>	<!-- col 4 -->
        <div class="clear"></div>
    </div>	<!-- container -->
</div>	<!-- nav -->
<div style="height:76px"></div>

<div class="container">
	<div id="mainvisual">
    <%= image_tag("mainvisual.gif", alt: "main visual") %>
    	<!--<img src="./assets/mainvisual.gif" alt="aaaaaa" />-->
    </div>	<!-- mainvisual -->
    
<%= content_tag :div, content_tag(:p, "スタッフの推しプ"), class: "col-sm-12 midashi" %>

  <!--  
	<div class="col-sm-12 midashi">
    <p>スタッフの推しプ</p>
    </div>-->	<!-- col12 -->

<%= content_tag :div, class: "image-row" do %>
  <%= content_tag :div, class: "image-set" do %>

    <%= content_tag :div, class: "row", id: "new" do %> 
      <%= content_tag :div, class: "col-sm-3" do %>
        <%= content_tag :div, class: "graybox" do %>

          <%= content_tag :p, class: "ribbon" do %>
            <%= image_tag("new_ribbon.png", alt: "main visual") %>
          <% end %> <!-- ribbon -->

          <%= content_tag :div, class: "imgarea" do %>
            <%= link_to("example1.gif", data: {lightbox: "example-set"}, title: "『新生 軟式globe』", class: "example-image-link") do %> 
                    <%= image_tag("example1.gif", alt: "main visual", class: "example-image") %>
                  <% end %> <!-- example-image-link -->
          <%= content_tag(:div,"￥2533", class: "price") %>
          <% end %> <!-- image area-->

          <%= content_tag(:p, "『新生 軟式globe』", class: "itemtitle") %>
          <%= content_tag(:p, "2002年に放送されていたTBS系バラエティ番組のラッパー発掘企画", class: "itemdetail") %>
        <% end %> <!-- graybox -->
      <% end %> <!-- col-sm-3 -->

      <%= content_tag :div, class: "col-sm-3" do %>
        <%= content_tag :div, class: "graybox" do %>

          <%= content_tag :p, class: "ribbon" do %>
            <%= image_tag("new_ribbon.png", alt: "main visual") %>
          <% end %> <!-- ribbon -->

          <%= content_tag :div, class: "imgarea" do %>
            <%= link_to("example1.gif", data: {lightbox: "example-set"}, title: "『新生 軟式globe』", class: "example-image-link") do %> 
                    <%= image_tag("example1.gif", alt: "main visual", class: "example-image") %>
                  <% end %> <!-- example-image-link -->
          <%= content_tag(:div,"￥2533", class: "price") %>
          <% end %> <!-- image area-->

          <%= content_tag(:p, "『新生 軟式globe』", class: "itemtitle") %>
          <%= content_tag(:p, "2002年に放送されていたTBS系バラエティ番組のラッパー発掘企画", class: "itemdetail") %>
        <% end %> <!-- graybox -->
      <% end %> <!-- col-sm-3 -->

    <%= content_tag :div, class: "col-sm-3" do %>
        <%= content_tag :div, class: "graybox" do %>

          <%= content_tag :p, class: "ribbon" do %>
            <%= image_tag("new_ribbon.png", alt: "main visual") %>
          <% end %> <!-- ribbon -->

          <%= content_tag :div, class: "imgarea" do %>
            <%= link_to("example1.gif", data: {lightbox: "example-set"}, title: "『新生 軟式globe』", class: "example-image-link") do %> 
                    <%= image_tag("example1.gif", alt: "main visual", class: "example-image") %>
                  <% end %> <!-- example-image-link -->
          <%= content_tag(:div,"￥2533", class: "price") %>
          <% end %> <!-- image area-->

          <%= content_tag(:p, "『新生 軟式globe』", class: "itemtitle") %>
          <%= content_tag(:p, "2002年に放送されていたTBS系バラエティ番組のラッパー発掘企画", class: "itemdetail") %>
        <% end %> <!-- graybox -->
      <% end %> <!-- col-sm-3 -->

       <%= content_tag :div, class: "col-sm-3" do %>
          <%= content_tag :div, class: "graybox" do %>

            <%= content_tag :p, class: "ribbon" do %>
              <%= image_tag("new_ribbon.png", alt: "main visual") %>
            <% end %> <!-- ribbon -->

            <%= content_tag :div, class: "imgarea" do %>
              <%= link_to("example1.gif", data: {lightbox: "example-set"}, title: "『新生 軟式globe』", class: "example-image-link") do %> 
                      <%= image_tag("example1.gif", alt: "main visual", class: "example-image") %>
                    <% end %> <!-- example-image-link -->
            <%= content_tag(:div,"￥2533", class: "price") %>
            <% end %> <!-- image area-->

            <%= content_tag(:p, "『新生 軟式globe』", class: "itemtitle") %>
            <%= content_tag(:p, "2002年に放送されていたTBS系バラエティ番組のラッパー発掘企画", class: "itemdetail") %>
          <% end %> <!-- graybox -->
        <% end %> <!-- col-sm-3 -->

      <% end %> <!-- row new -->
		<% end %> <!-- image set -->
	<% end %>	<!-- image row -->

   
  <%= content_tag :div, content_tag(:p, "作りたい商品を選"), class: "col-sm-12 midashi" %>
	<!--
  <div class="col-sm-12 midashi">
    <p>作りたい商品を選</p>
    </div> -->	<!-- col12 -->

<%= content_tag :div, class: "row", id: "make" do %>

  <%= content_tag :div, class: "col-sm-4" do %>
    <%= content_tag :div, class: "graybox" do %>
      <%= content_tag :div, image_tag("example2.gif"),class: "overflow" %>
      <%= content_tag :p, "クッション" %> 
    <% end %> <!-- graybox -->
  <% end %> <!-- col-sm-4 -->

 <%= content_tag :div, class: "col-sm-4" do %>
    <%= content_tag :div, class: "graybox" do %>
      <%= content_tag :div, image_tag("example2.gif"),class: "overflow" %>
      <%= content_tag :p, "クッション" %> 
    <% end %> <!-- graybox -->
  <% end %> <!-- col-sm-4 -->

   <%= content_tag :div, class: "col-sm-4" do %>
    <%= content_tag :div, class: "graybox" do %>
      <%= content_tag :div, image_tag("example2.gif"),class: "overflow" %>
      <%= content_tag :p, "クッション" %> 
    <% end %> <!-- graybox -->
  <% end %> <!-- col-sm-4 -->

<% end %> <!-- row make -->

    
<%= content_tag :div, content_tag(:p, "スタッフの推しプ"), class: "col-sm-12 midashi" %>

    <!--
	<div class="col-sm-12 midashi">
    <p>スタッフの推しプ</p>
    </div>-->	<!-- col12 -->
    
 		<%= content_tag :div, class: "image-row" do %>
  <%= content_tag :div, class: "image-set" do %>

    <%= content_tag :div, class: "row", id: "new" do %> 
      <%= content_tag :div, class: "col-sm-3" do %>
        <%= content_tag :div, class: "graybox" do %>

          <%= content_tag :p, class: "ribbon" do %>
            <%= image_tag("new_ribbon.png", alt: "main visual") %>
          <% end %> <!-- ribbon -->

          <%= content_tag :div, class: "imgarea" do %>
            <%= link_to("example1.gif", data: {lightbox: "example-set"}, title: "『新生 軟式globe』", class: "example-image-link") do %> 
                    <%= image_tag("example1.gif", alt: "main visual", class: "example-image") %>
                  <% end %> <!-- example-image-link -->
          <%= content_tag(:div,"￥2533", class: "price") %>
          <% end %> <!-- image area-->

          <%= content_tag(:p, "『新生 軟式globe』", class: "itemtitle") %>
          <%= content_tag(:p, "2002年に放送されていたTBS系バラエティ番組のラッパー発掘企画", class: "itemdetail") %>
        <% end %> <!-- graybox -->
      <% end %> <!-- col-sm-3 -->

      <%= content_tag :div, class: "col-sm-3" do %>
        <%= content_tag :div, class: "graybox" do %>

          <%= content_tag :p, class: "ribbon" do %>
            <%= image_tag("new_ribbon.png", alt: "main visual") %>
          <% end %> <!-- ribbon -->

          <%= content_tag :div, class: "imgarea" do %>
            <%= link_to("example1.gif", data: {lightbox: "example-set"}, title: "『新生 軟式globe』", class: "example-image-link") do %> 
                    <%= image_tag("example1.gif", alt: "main visual", class: "example-image") %>
                  <% end %> <!-- example-image-link -->
          <%= content_tag(:div,"￥2533", class: "price") %>
          <% end %> <!-- image area-->

          <%= content_tag(:p, "『新生 軟式globe』", class: "itemtitle") %>
          <%= content_tag(:p, "2002年に放送されていたTBS系バラエティ番組のラッパー発掘企画", class: "itemdetail") %>
        <% end %> <!-- graybox -->
      <% end %> <!-- col-sm-3 -->

    <%= content_tag :div, class: "col-sm-3" do %>
        <%= content_tag :div, class: "graybox" do %>

          <%= content_tag :p, class: "ribbon" do %>
            <%= image_tag("new_ribbon.png", alt: "main visual") %>
          <% end %> <!-- ribbon -->

          <%= content_tag :div, class: "imgarea" do %>
            <%= link_to("example1.gif", data: {lightbox: "example-set"}, title: "『新生 軟式globe』", class: "example-image-link") do %> 
                    <%= image_tag("example1.gif", alt: "main visual", class: "example-image") %>
                  <% end %> <!-- example-image-link -->
          <%= content_tag(:div,"￥2533", class: "price") %>
          <% end %> <!-- image area-->

          <%= content_tag(:p, "『新生 軟式globe』", class: "itemtitle") %>
          <%= content_tag(:p, "2002年に放送されていたTBS系バラエティ番組のラッパー発掘企画", class: "itemdetail") %>
        <% end %> <!-- graybox -->
      <% end %> <!-- col-sm-3 -->

       <%= content_tag :div, class: "col-sm-3" do %>
          <%= content_tag :div, class: "graybox" do %>

            <%= content_tag :p, class: "ribbon" do %>
              <%= image_tag("new_ribbon.png", alt: "main visual") %>
            <% end %> <!-- ribbon -->

            <%= content_tag :div, class: "imgarea" do %>
              <%= link_to("example1.gif", data: {lightbox: "example-set"}, title: "『新生 軟式globe』", class: "example-image-link") do %> 
                      <%= image_tag("example1.gif", alt: "main visual", class: "example-image") %>
                    <% end %> <!-- example-image-link -->
            <%= content_tag(:div,"￥2533", class: "price") %>
            <% end %> <!-- image area-->

            <%= content_tag(:p, "『新生 軟式globe』", class: "itemtitle") %>
            <%= content_tag(:p, "2002年に放送されていたTBS系バラエティ番組のラッパー発掘企画", class: "itemdetail") %>
          <% end %> <!-- graybox -->
        <% end %> <!-- col-sm-3 -->

      <% end %> <!-- row new -->
    <% end %> <!-- image set -->
  <% end %> <!-- image row -->



</div>	<!-- container -->


<div class="clear"></div>
<div class="container">
	<div class="row">
	    <div class="col-lg-9" id="footerbase">
        	<p><span>最新の活動報告</span><br />
ああああああああああああああああああああああああああああああああああああああああああああああ<br />
いうおえいおうえお</p>
        </div>	<!-- col9 -->
	    <div class="col-lg-3" id="footerleft">
            <button type="button" class="btn btn-success btn-md" style="margin:35px auto auto 130px;">
              <span>詳細はこちら</span>
            </button>
        </div>	<!-- col3 -->
	</div>	<!-- row -->

<div id="company">
	<div class="row">
    	<div class="col-lg-4">
        <div>
			<img src="./assets/logo_gray.jpg" alt="" />
        </div>
        </div>	<!-- col4 -->
        <div class="col-lg-6">
        <div>
        <p id="title">About US</p>
        <p id="txt">
２０１０年に結成しました。都内のカフェでのイベントや、野外フェスでのライブを中心に活動しています。音楽に乗せて詩を朗読すると言
        </p>
        </div>
        </div>	<!-- col6 -->
    </div>	<!-- row -->
</div>	<!-- company -->

<div id="grayfooter">
    <div class="row">
		<div class="col-lg-5">
            <div style="margin:25px auto auto 70px;">
                <p id="categorytitle">カテゴリから探す</p>
                <div class="categorylist">
                <ul>
                    <li><a href="#">アート</a></li>
                    <li><a href="#">あいうおえ</a></li>
                    <li><a href="#">プロダクト</a></li>
                    <li><a href="#">ジャーナリズム</a></li>
                    <li><a href="#">写真</a></li>         
                </ul>
                </div>
                <div class="categorylist">
                <ul>
                    <li><a href="#">アート</a></li>
                    <li><a href="#">あいうおえ</a></li>
                    <li><a href="#">プロダクト</a></li>
                    <li><a href="#">ジャーナリズム</a></li>
                    <li><a href="#">写真</a></li>         
                </ul>
                </div>    
                <div class="categorylist">
                <ul>
                    <li><a href="#">アート</a></li>
                    <li><a href="#">あいうおえ</a></li>
                    <li><a href="#">プロダクト</a></li>
                    <li><a href="#">ジャーナリズム</a></li>
                    <li><a href="#">写真</a></li>         
                </ul>
                </div>    
                <div class="clear"></div> 
            </div>       
        </div>	<!-- col5 -->    
    	<div class="col-sm-4" id="snslist">

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
      <div id="sns">
        <div id="twi" style="float:left;"> <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://sozo.d-siy.com" data-text="想像を創造するサイト「sO-Zo」" data-lang="ja" data-related="paddy_waseda">ツイート</a> 
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> 
        </div>
       <div class="fb-like" data-href="http://sozo.d-siy.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
      </div>	<!-- sns -->
      <div class="clear"></div>
           
        </div>	<!-- col4 -->
    </div>	<!-- row -->

</div>	<!-- grayfooter -->
<div id="bottomfooter">
<a href="#">取引～～～～～</a>
<a href="#">ああああああ</a>
<a href="#">いうえおうおえ</a>
<a href="#">かきここかけ</a>
<a href="#">プライバシーポリシー</a>
<a href="#">お問合わせ</a>
<div style="float:left;">D＆SIY</div>
<div class="clear"></div>



</div>	<!-- bottomfooter -->

</div>	<!-- container -->
</html>
