<!DOCTYPE html>
<%= stylesheet_link_tag  "buttons" %>

<style type="text/css">

  a:hover{
    text-decoration: none
  }

  .my-cart {
    margin: auto
  }

  .my-cart button {
    width:120px;
    height: 40px;
    float: right;
  }

  .my-cart .btn-down {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .my-cart-title {
    margin: 10px 0 20px 0;
    padding-top: 20px
  }

  .my-cart-title #title {
    font-size: x-large;
    font-weight: bold;
  }

  .table {
    width: 100%;
    margin:auto;
  }

  .table thead tr {
    background-color: #eee
  }

  .table thead tr th span {
    margin-left:5px; 
    vertical-align:text-bottom
  }

  .table tbody tr td {
    vertical-align: middle;
  }



  hr {
    FILTER: alpha(opacity=100,finishopacity=0,style=3)
  }

</style>


<script type="text/javascript">

/*function popover() {
  $("#example").popover();
}*/
function checkAll() {
    $('input[name="line_items"]').each(function(){
      $(this).prop("checked", false);
    });
};

function cancelAll() {
   $('input[name="line_items"]').each(function(){
      $(this).removeAttr("checked");
    });
};

function calculateTotal() {
  var item_quantity = 0;
  var quantity = 0;
  var price    = 0;
  var item_price = 0;
  // calculate money

  $('input[name="line_items"]').each(function(){

       if($(this).prop("checked") == true) {

        $(this).parent().parent().parent().nextAll().each(function() {

            if($(this).hasClass("quantity") == true) {
                item_quantity = parseInt($(this).find("input").val().trim());
                quantity += item_quantity
            } 

            if($(this).hasClass("price") == true) {
                item_price = parseFloat($(this).find("span").text().trim()) * item_quantity;
                price    += item_price;
                item_price = 0;
                item_quantity = 0;
            } 
        });
      }
  });


  /*$(".quantity").each(function() {
        quantity += parseInt($(this).text().trim());
  });

  $(".price span").each(function(){
      price    += parseFloat($(this).text().trim());
  });*/

  $("#order_quantity").text(quantity);
  $(".well-sm").text(price.toFixed(0));
};

function update_quantity(quantity_input, line_item_id) {
  $.ajax({
    url: "/line_items/" + line_item_id,
    type: "put",
    dataType: "json",
    data:  {quantity:quantity_input.val()}, 
    timeout: 1000,
    error: function(){
      //reset money and quantity
    },
    success: function(data) {
      calculateTotal();
      total = $(".well-sm").text().trim();
      var options = {
        placement: 'top',
        trigger: 'manual',
        content: function () {
            return '<div class="body"><p><%= t("cart.quantity_change") %></p>' + "<p><%= t('cart.price_total') %><em>" + total + "</em><%= t('number.currency.USD') %></p></div>"
        },
        container: 'body',
        html: 'true'
      };

      quantity_input.popover(options);
      quantity_input.popover('show');
      window.setTimeout(function(){
        quantity_input.popover('destroy');},1000);
    }
  });
};

function new_order() {
    <% if user_signed_in? %>
          if($("#order_quantity").text().trim().length == 0 
              || parseInt($("#order_quantity").text().trim()) <= 0) {            
                alert("<%= t('errors.messages.select_none') %>");
                return
          }
          location.href="<%= new_user_order_path(current_user) %>";
   <% else %>
          location.href="<%= new_user_session_path %>";
    <% end %>    
};

$(function(){


 // check all items when loaded
 // $('#all').prop('checked',true);
 // checkAll();
 // calculateTotal();
 $('input').iCheck('check');
 calculateTotal();

  // icheck callback
  $('input').on('ifChecked', function(event){
    var name = $(event.target).attr('name');
    if(name == 'all') {
      $('input').iCheck('check');
    }else {
      $(event.target).iCheck('check');
    }
    calculateTotal();
    //alert(event.target + ' callback');
  });

  $('input').on('ifUnchecked', function(event){
    var name = $(event.target).attr('name');
    if(name == 'all') {
      $('input').iCheck('uncheck');
    } else{
      $(event.target).iCheck('uncheck');
    }
    calculateTotal();
    //alert(event.target + ' callback');
  });

 $("#all").click(function() {
      if($(this).prop("checked") == true) {
          checkAll();
      } else {
          cancelAll();   
      }
      
      calculateTotal();
      
  });

  $('input[name="line_items"]').click(function() {
      calculateTotal();
  });

  // input instead of onchnage
  $('input[type="text"').bind("input", function(){
      calculateTotal();
  });

});

</script>

<body>
  <%= render "home/header" %>
  <div class="content">
    <div style="height:76px">
    </div>
    <div class="container">
      <div class="my-cart">

          <div class="my-cart-title">
            <span id="title"><%= t('cart.page_title') %></span>
             <button class="btn btn-danger btn-lg btn-up" style="display:none">
             去结算 <span class="glyphicon glyphicon-chevron-right"><span>
          </button>
            
          </div>


          <div class="panel panel-default">
            <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>
                          <div class="checkbox">
                            <%= check_box_tag 'all', 'yes', true %>
                            <span><%= t('cart.select_all') %></span>
                          </div>
                      </th>
                      <th>
                        <%= t('cart.col_image') %>
                      </th>
                      <th><%= t('cart.col_name') %></th>
                      <!-- <th>Cart</th> -->
                      <th><%= t('cart.col_color') %></th>
                      <th><%= t('cart.col_size') %></th>
                      <th><%= t('cart.col_quantity') %></th>
                      <th><%= t('cart.col_price') %></th>
                      <th><%= t('cart.op') %></th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @line_items.each do |line_item| %>
                        <% if not line_item.product.nil? %>
                        <% if line_item.product.product_images.count > 0 %>
                          <tr>
                            <td>
                              <div class="checkbox">
                                <%= check_box_tag "line_items_#{line_item.id}", 'yes', true, {name: "line_items"} %>
                              </div>
                            </td>
                            <td><%= image_tag line_item.product.product_images.first.product_image.url(:thumb), width: "100px", class: "img-thumbnail", width: "80px" %></td>
                            <td><span><%= line_item.product.name %></span></td>
                            <td>
                                <% color = Color.find_by_id(line_item.color_id) do |color| %>
                                  <%= color.name %>
                                <% end %>
                            </td>
                            <td>
                                <% size = Size.find_by_id(line_item.size_id) do |size| %>
                                  <%= size.name %>
                                <% end %>
                            </td>
                            <td class="quantity">  

                              <div class="p_number">
                                  <div class="f_l add_chose" style="margin-top:10px">
                                      <a class="reduce" href="javascript:void(0)" onclick="setAmount.reduce('#qty_item_<%= line_item.id %>')">-</a>
                                      <input type="text" name="qty_item" value="<%= line_item.quantity %>" id="qty_item_<%= line_item.id %>" onchange="update_quantity($(this), <%= line_item.id %>)" onKeyUp="setAmount.modify('#qty_item_<%= line_item.id %>');"  class="text" />
                                      <a class="add" href="javascript:void(0)" onclick="setAmount.add('#qty_item_<%= line_item.id %>')">+</a>
                                  </div>
                              </div>

                            </td>
                            <td class="price">
                              <%= t('number.currency.JPY_SIGN')%><span style="margin-left:0px"><% product = Product.find_by_id(line_item.product_id) do |product| %>
                                  <%= product.price.to_i %>
                              <% end %></span>
                            </td>
                            <td>
                              <!-- link_to 'Show', line_item -->
                              <!-- link_to 'Edit', edit_line_item_path(line_item) -->
                              <%= link_to t('cart.delete'), line_item, method: :delete, data: { confirm: t('cart.remove_confirm') } %>
                            </td>
                          </tr>
                      <% end %><!-- count > 0 -->
                      <% end %> <!-- not nil-->
                    <% end %>
                  </tbody>
                </table>
              </div> <!-- table -->

              <div class="panel-body" style="text-align:right">
                <hr width=100% size=3 color=#00ffff/>
                <span>
                  <%= t('number.human.decimal_units.units.total') %>
                  <em id='order_quantity'></em>
                  <%= t('number.human.decimal_units.units.jian') %>
                  <%= t('nav.menu.product') %>
                </span>
                <span><%= t('cart.price_total') %></span><div class="well well-sm" id="order_total" style="width:80px; display:inline;text-align:center;margin-left:5px; margin-right:5px"></div><span><%= t('number.currency.JPY') %></span>
              </div>

              <a href="<%= publishes_path %>" class="button button-rounded button-flat" style="float:left; margin:20px"><%= t('cart.back_to_shopping') %></a>
              <button class="btn btn-danger btn-lg btn-down" id="btn-new-order"  onclick="new_order()">
                 <%= t('cart.checkout') %> <span class="glyphicon glyphicon-chevron-right"><span>
              </button>


              <!-- <div class="panel-heading">Panel Heading</div> -->

              <!-- <a href="#" id="example" class="btn btn-primary" rel="popover"
                 data-content="This is the body of Popover"
                 data-original-title="Creativity Tuts" onclick="popover()">sd
              </a> -->

              </div><br>
          </div> <!-- my-cart -->
          <div class="clear">
          </div>
        </div><!-- container -->

  </div><!-- content -->
  <%= render "home/footer" %>
</body>
