<p id="notice"><%= notice %></p>
<div class="shopping_cart">
  <p>
    <strong>Product:</strong>
    <%= @line_item.product.name %>
  </p>

  <p>
    <strong>Cart:</strong>
    <%= @line_item.cart_id %>
  </p>

  <p>
    <strong>Color:</strong>
    <% color = Color.find_by_id(@line_item.color_id) do |color| %>
      <%= color.name %>
    <% end %>
  </p>

  <p>
    <strong>Size:</strong>
    <% size = Size.find_by_id(@line_item.size_id) do |size| %>
      <%= size.name %>
    <% end %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= @line_item.quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <% product = Product.find_by_id(@line_item.product_id) do |product| %>
        <%= product.price * @line_item.quantity %>
    <% end %>
  </p>


</div>
<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
